<h1>Add products to site</h1>

<form method="POST" action="/addproduct">
    <input type="text" name="name" placeholder="product name">
    <input type="text" name="price" placeholder="product price"> 
    <input type="text" name="quantity" placeholder="quantity"> 
    <button type="submit">Add to site</button>

    <!-- <input type="text" name="price" placeholder="product price">  -->
</form>