<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
  <link rel="stylesheet" href="/css/mycart.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="js/vendor/jquery.min.js"></script>
  <title>My Cart - Printwear</title>
</head>

<body>
  <div class="banner">
    <%- include('partials/side-logo.ejs') %>
      <%- include('partials/top.ejs') %>
  </div>
  <div class="progressbar">
    <h2>Your Cart</h2>

  </div>
  <div class="cart">
    <!-- <h4 class="cart-title">No items in cart currently :)</h4> -->
    <div class="cart-items-wrapper">
      <span class="loader"></span>
    </div>
    <!-- Button trigger modal -->
    <div class="pageend">
      <h4>Total:
      </h4>

      <button type="button" disabled="true" id="btn-chkout">
        Proceed to checkout
      </button>
    </div>
    <!-- Modal -->
    <!-- <a href="https://payments-test.cashfree.com/links/G5e7kl6gi5bg"> Yes</a></button> -->
  </div>

  <script>
    const cartItemsContainer = document.querySelector(".cart-items-wrapper");

    const createCartItems = () => {
      const cartItemsDOMString = fetchCartReponse.items.map(cartItem => {
        return `
        <div class="cart-item">
          <h5 class="product-design-name">
            ${cartItem.designData.designName}
          </h5>
          <div style="display: flex; ">
            <div class="product-image">
              <img src="${cartItem.designData.designImage.front}" data-back="${cartItem.designData.designImage.back}" alt="${cartItem.designData.designName}">
            </div>
            <div class="product-details">
              <h5 class="product-detail">Product: ${cartItem.product.name}</h5>
              <h5 class="product-detail">Category: ${cartItem.product.category}</h5>
              <table class="table">
                <tr>
                  ${Object.entries(cartItem.quantity).map(sizeQty => {
                    return `
                      <td><b>${sizeQty[0]}</b></td>
                    `;
                  }).join("\n")}
                </tr>
                <tr>
                  ${Object.entries(cartItem.quantity).map((sizeQty, i) => {
                    return `
                      <td>
                        <input id="inp_${cartItem._id}_${i}" type="number" value="${sizeQty[1]}" min="0" max="${1}" />
                      </td>
                    `;
                  }).join("\n")}
                </tr>
              </table>
              <!-- <p class="product-detail">SKU: TEE-WHT-M</p> map over the colors -->
              <p class="product-details">Price: ${cartItem.price}</p>
              <label for="deliver_address_${cartItem._id}">Enter Delivery Address:</label>
              <textarea name="address" id="deliver_address_${cartItem._id}" class="deliver_address" rows="5" cols="60"></textarea>
              <br>
              <label for="phone_${cartItem._id}">Enter Phone Number:</label>
              <input type="text" inputmode="numeric" id="phone_${cartItem._id}" placeholder="+91 XXXXXXXXXXX" />
            </div>
          </div>
        </div>
        `;

        // create a del cart item btn

      }).join("\n");
      cartItemsContainer.innerHTML = cartItemsDOMString;
    }

    const fetchCartData = async () => {
      try {
        const fetchCartRequest = await fetch("/getcart");
        fetchCartReponse = await fetchCartRequest.json();
        console.log(fetchCartReponse);
        createCartItems();
      } catch (err) {
        console.log(err);
        cartItemsContainer.innerHTML = `
          <h5>Couldn't fetch cart items due to an error<br>${err}</h5>
        `;
      }
    }

    fetchCartData();

  </script>
</body>

</html>