<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updatepassword" method="post">
    <h2>ENTER NEW PASSWORD</h2><br>
    <input type="text" placeholder="New password" name="newpassword"></input>
    <br>
    <h2>CONFIRM PASSWORD</h2>
    <br>
    <input type="password" placeholder="Confirm password" name="confirmpassword"></input>
    <input type="submit" name="">SUBMIT</input>
</form>
</body>
</html>