<!DOCTYPE HTML>
<html>
<title>Dashboard - Printwear</title>

<head>
    <link href="/css/dashboard.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet" />
</head>

<body style="background-color:#eff2f4;">
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>

    <main class="dashboard-wrapper">

        <div class="progressbar">
            <h1>DASHBOARD<h2>
        </div>

        <div class="large" data-aos="fade-up">
            <div>
                <h2>Hello, USER!</h2>
                <p>let's get you up and running with printwear</p>
            </div>
            <div>
                <h3 style="text-decoration:line-through; color:red;">
                    <i class="fa-solid fa-square-check"></i>Create a free account
                </h3>
                <p>Yay! You've successfully completed the first step</p>
                <hr />
            </div>

            <div>
                <a href="">
                    <h3 style="color:red;">Place your first order</h3>
                </a>
                <p>Let's get you started on your first order</p>

                <div class="landing-links">
                    <div class="chemical">
                        <a href="">Watch video</a>
                    </div>
                    <div class="mue"><a style=" color:red; " href="">
                            Order now
                            <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <hr />
            </div>


            <div>
                <a href="">
                    <h3 style="color:red;">Connect your store</h3>
                </a>
                <p>connect your shopify or WooCommerce store</p>
                <div class="landing-links">
                    <div class="chemical">
                        <a href="">Read article</a>
                    </div>
                    <div class="mue"><a style="color:red;" href="">Connect<i
                                class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
                </div>
                <hr />
            </div>

            <div>
                <a href="#">
                    <h3 style="color:red;">Set up your brand profile</h3><a>
                        <p>Update your brand information<p>
                                <a></a>
                            <div class="landing-links">
                                <div class="chemical"><a href="">Update</a></div>
                                <hr />
                                <p class="fly">Did you wish to see this guide anymore?<a style="color:red;" href="#">skip</a>
                                            </div>
                            </div>
        </div>

        <div class="nin" data-aos="fade-up">
            <div id="chop1">
                <p>Here's what happening</p>
            </div>
            <div id="chop2">
                <div class="blas"><i class="fa-regular fa-calendar"></i></div>
                <p style="margin-left: -50px;">last 7 days</p>
            </div>
        </div>

        <div class="status-wrapper" data-aos="fade-up">
            <div class="status-left">
                <div id="column1">
                    <p>Orders</p>
                    <h2 style="padding:10px 0px 10px 0px; width:200px; margin:0;"><i class="fa fa-inr"
                            aria-hidden="true"></i>0
                    </h2>
                    <p
                        style="position:relative; width:33px;  bottom:40px; left:70px; color:red; background-color:#fff2f2;">
                        +0%
                    </p>
                </div>
                <div id="column2">
                    <p>Revenue</p>
                    <h2 style="padding:10px 0px 10px 0px;;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                    <p
                        style="position:relative; width:33px; bottom:40px; left:70px; color:red; background-color:#fff2f2;">
                        +0%
                    </p>
                </div>
                <div id="column3">
                    <p>Expense</p>
                    <h2 style="padding:10px 0px 10px 0px;;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                    <p
                        style="position:relative; width:33px; bottom:40px; left:70px; color:red; background-color:#fff2f2;">
                        +0%
                    </p>
                </div>
            </div>
            <div class="status-right">
                <div class="biggie" data-aos="fade-up">
                    <img src="https://www.splashlearn.com/math-vocabulary/wp-content/uploads/2022/05/graphs-9-01-1.png"
                        alt="">
                </div>
            </div>
        </div>

        <div class="cod-wrapper">
            <div class="final" data-aos="fade-up">
                <h3>COD Status</h3>
            </div>
            <div class="putin1" data-aos="fade-up">
                <div class="putin">
                    <p>Delivering Pending&#128712;</p>
                    <h2 style="padding:10px;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                </div>
                <div class="putin">
                    <p>Delivered&nbsp;&#128712;</p>
                    <h2 style="padding:10px;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                </div>
                <div class="putin">
                    <p>Remittance Available&nbsp;&#128712;</p>
                    <h2 style="padding:10px;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                </div>
                <div class="putin">
                    <p>Last Remittance&nbsp;&#128712;</p>
                    <h2 style="padding:10px;"><i class="fa fa-inr" aria-hidden="true"></i>0</h2>
                </div>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>