<!DOCTYPE html>
<html lang="en">

<head>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Design Generator - Printwear</title>

	<link href="/css/normalize.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<!-- <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">  -->
	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link
		href='https://fonts.googleapis.com/css?family=Nosifer|League+Script|Yellowtail|Permanent+Marker|Codystar|Eater|Molle:400italic|Snowburst+One|Shojumaru|Frijole|Gloria+Hallelujah|Calligraffitti|Tangerine|Monofett|Monoton|Arbutus|Chewy|Playball|Black+Ops+One|Rock+Salt|Pinyon+Script|Orbitron|Sacramento|Sancreek|Kranky|UnifrakturMaguntia|Creepster|Pirata+One|Seaweed+Script|Miltonian|Herr+Von+Muellerhoff|Rye|Jacques+Francois+Shadow|Montserrat+Subrayada|Akronim|Faster+One|Megrim|Cedarville+Cursive|Ewert|Plaster'
		rel='stylesheet' type='text/css'>

	<link href="/css/api.css" rel="stylesheet">

	<script src="/js/jquery-1.10.2.js">	</script>
	<script src="/js/bootstrap.js">		</script>

	<style>

	</style>

</head>

<body>

	<div class="banner">
		<%- include('partials/side-logo.ejs') %>
			<%- include('partials/top.ejs') %>
	</div>
	<div id="maindiv">

		<!-- <script type="text/javascript" src="/js/html2canvas.js"></script> -->
		<!-- <script type="text/javascript" src="/js/html22canvas.js"></script> -->
		<script type="text/javascript" src="/js/html2canvas.min.js"></script>
		<script src="/js/jquery.form.js"></script>
		

		<script src="/js/jquery-ui.js"></script>

		<script type="text/javascript">
			
			function b() {
				$('#custom_text').toggleClass('bold_text');
				$("#bold_button").toggleClass('box-shadow', '0 0 10px inset #3c3c3c');
			}

			function i() {
				$('#custom_text').toggleClass('italic_text');
			}

			function changeFont(_name) {
				$('#custom_text').css("font-family", _name);
			}

			function changeFontSize(_size) {
				$('#custom_text').css("font-size", _size);
			}

			function changeColor(_color) {
				$('#custom_text').css("color", _color);
			}
		</script>

		<div class="container cnt design_api_container ">

			<div class='design_api'>
				<div class="loader-wrapper">
					<span class="loader"></span>
				</div>
				<!--=============================================================-->
				<div id="menu">
					<div class="menu_option sel_type sel">
						<img src="/images/mockup/menu_icons/tee.png">
					</div>
					<div class="menu_option sel_color">
						<i class="fa fa-paint-brush fa-2x"></i>
					</div>
					<div class="menu_option sel_art">
						<i class="fa fa-camera-retro fa-2x"></i>
					</div>
					<div class="menu_option sel_custom_icon">
						<i class="fa-solid fa-upload" fa-2x></i>
					</div>
					<div class="menu_option sel_text">
						<i class="fa fa-font fa-2x"></i>

					</div>
				</div>
				<!--=============================================================-->
				<div id='options'>
					<div class="T_type">
						<div id="radio1"><img width="100%" height="100%" />
						</div>
					</div>

					<div class="color_pick">
						<!-- iter over the colors and render them -->
						<div class="color_radio_div" id="red"></div>
						<div class="color_radio_div" id="black"></div>
						<div class="color_radio_div" id="white"></div>
					</div>

					<div class="default_samples">
						<div class="sample_icons"><img src="/images/Logo.png" id="des"></div>
						<div class="sample_icons"><img src="/images/cnt-shopify.png" id="des"></div>
						<div class="sample_icons"><img src="/images/cnt-woocommerce.png" id="des"></div>
					</div>

					<div class="custom_icon">
						<form id="form1" runat="server">
							<span class="btn btn-default btn-file upd"> Browse
								<input type='file' id="imgInp" />
							</span>
						</form>
					</div>

					<div class="custom_font">

						<select id="fs" onchange="changeFont(this.value);">
							<option value="arial">Arial</option>
							<option value="Nosifer, cursive">Nosifer</option>
							<option value="League Script, cursive">League Script</option>
							<option value="Yellowtail, cursive">Yellowtail</option>
							<option value="Permanent Marker, cursive">Permanent Marker</option>
							<option value="Codystar, cursive">Codystar</option>
							<option value="'Eater', cursive">Eater</option>
							<option value="Molle, cursive">Molle</option>
							<option value="Snowburst One, cursive">Snowburst One</option>
							<option value="Shojumaru, cursive">Shojumaru</option>
							<option value="Frijole, cursive">Frijole</option>
							<option value="Gloria Hallelujah, cursive">Gloria Hallelujah</option>
							<option value="Calligraffitti, cursive">Calligraffitti</option>
							<option value="Tangerine, cursive">Tangerine</option>
							<option value="Monofett, cursive">Monofett</option>
							<option value="Monoton, cursive">Monoton</option>
							<option value="Arbutus, cursive">Arbutus</option>
							<option value="Chewy, cursive">Chewy</option>
							<option value="Playball, cursive">Playball</option>
							<option value="Black Ops One, cursive">Black Ops One</option>
							<option value="'Rock Salt', cursive">Rock Salt</option>
							<option value=" 'Pinyon Script', cursive">Pinyon Script</option>
							<option value="'Orbitron', sans-serif">Orbitron</option>
							<option value="'Sacramento', cursive">acramento</option>
							<option value="'Sancreek', cursive">Sancreek</option>
							<option value="'Kranky', cursive">Kranky</option>
							<option value="'UnifrakturMaguntia', cursive">UnifrakturMaguntia</option>
							<option value="'Creepster', cursive">Creepster</option>
							<option value="'Pirata One', cursive">Pirata One</option>
							<option value=" 'Seaweed Script', cursive">Seaweed Script</option>
							<option value=" 'Miltonian', cursive">Miltonian</option>
							<option value=" 'Herr Von Muellerhoff', cursive">Herr Von Muellerhoff</option>
							<option value=" 'Rye', cursive"> 'Rye'</option>
							<option value=" 'Jacques Francois Shadow', cursive">Jacques Francois Shadow</option>
							<option value=" 'Montserrat Subrayada', sans-serif">Montserrat Subrayada</option>
							<option value=" 'Akronim', cursive">Akronim</option>
							<option value=" 'Faster One', cursive">Faster One</option>
							<option value=" 'Megrim', cursive">Megrim</option>
							<option value=" 'Cedarville Cursive', cursive">Cedarville Cursive</option>
							<option value=" 'Ewert', cursive">Ewert</option>
							<option value="'Plaster', cursive">Plaster</option>
							<option value="verdana">Verdana</option>
							<option value="impact">Impact</option>
							<option value="ms comic sans">MS Comic Sans</option>
						</select>

						<input type="color" name="favcolor" onChange="changeColor(this.value);"
							placeholder="Color Name" />
						<div class="font_styling">

							<span id="bold_button" onclick="b();"><b>B</b></span>
							<span id="italic_button" onclick="i();"><i>I</i></span>

							<select id="font_size" onchange="changeFontSize(this.value);">
								<option value="10px">10px</option>
								<option value="20px">20px</option>
								<option value="30px">30px</option>
								<option value="40px">40px</option>
								<option value="50px">50px</option>
								<option value="60px">60px</option>
								<option value="70px">70px</option>
								<option value="80px">80px</option>
								<option value="90px">90px</option>
								<option value="100px">100px</option>
								<option value="110px">110px</option>
							</select>
						</div>
						<textarea id="custom_text" placeholder="Create Your Custom Text."></textarea>
						<button type="button" class="btn btn-primary prv" id="apply_text">
							Apply
						</button>

					</div>
				</div>
				<!--=============================================================-->
				<!--=========================preview start====================================-->

				<div id='preview_t'>
					<div id="preview_front">
						<div class="front_print">

						</div>
					</div>
					<div id="preview_back">
						<div class="back_print">

						</div>
					</div>

				</div>
				<!--=============================================================-->
				<!--======================view start=======================================-->

				<div id='view_mode'>
					<div class="mode mf sel"><img id="o_front" width="100%" height="80%" />FRONT
					</div>
					<div class="mode mb"><img id="o_back" width="100%" height="80%" />BACK
					</div>
					<div class="mode">
						<i class="fa fa-binoculars fa-4x preview_images" id="preview_images" data-toggle="modal"
							data-target=".bs-example-modal-lg"></i>Preview
					</div>
				</div>
				<!--=====================View Ends========================================-->
				<div id="overview">
					<table class="table" id="preview-table">

					</table>

					<button type="button" class="btn btn-primary btn-block preview_images prv" data-toggle="modal"
						data-target=".bs-example-modal-lg">
						Proceed
					</button>


				</div>
			</div>

			<div class="layer">
				<div class="modal-content-preview">
					<div class="modal-header">
						<button type="button" class="close close_img" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only close_img">Close</span>
						</button>
					</div>
					<div class="modal-body" id="modal-body">
						<div id="image_reply">
							
						</div>
						<div class="modal-footer-preview">
							<input type="hidden" name="img_front" id="img_front" value="" />
							<input type="hidden" name="img_back" id="img_back" value="" />
							<input type="text" class="form-control" placeholder="Enter a design name..." name="design-name" id="design_name" />
							<div style="display: flex; gap:1rem;">
								<button type="submit" class="btn btn-primary prv" id="add-design">
									Save Design
								</button>
								<button type="button" class="btn dwn prv" id="dwn">
									Download Design	
								</button>
								<button type="button" class="btn dwn prv" id="buy">
									Add To Cart
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>

	</div>


	</div>
	<script src="/js/mainapp.js"></script>
</body>



</html>