<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Design Generator - Printwear</title>
    <!-- Font Awesome Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet" />
    <!-- Snakbox -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <!-- Global Styles -->
    <link href="/css/api.css" rel="stylesheet" />
    <!-- Fabric JS -->
    <script src="https://cdn.jsdelivr.net/npm/fabric@4.5.1/dist/fabric.min.js"></script>
    <!-- DOM to image and File Save -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Raleway", sans-serif;
      }
      .App {
        background-color: #d7d7d7;
        display: flex;
        min-height: 100vh;
        place-items: center;
        padding: 6rem 0 0 300px;
      }
      .App > * {
        margin: 1%;
        width: 50%;
      }
      .left-box > * {
        margin-bottom: 3%;
      }
      .right-box {
        display: flex;
        flex-direction: column;
      }
      .heading {
        font-weight: 300;
        font-size: 2.3rem;
      }
      .position-buttons {
        display: flex;
        flex-wrap: wrap;
      }
      .position-buttons > * {
        margin-right: 2%;
        margin-bottom: 2%;
        font-size: 0.8rem;
      }
      .design-stats {
        margin: 3% 0;
        font-size: 1.4rem;
      }
      .stats-display > p {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 200;
      }
      .design-input-label {
        display: block;
        margin-bottom: 2%;
        width: fit-content;
        border: 1px solid gray;
        padding: 2% 4%;
        cursor: pointer;
        border-radius: 20px;
      }
      .color-list,
      .size-list,
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      .color-options,
      .size-options {
        display: flex;
        flex-direction: column;
        place-items: center;
        width: fit-content;
        cursor: pointer;
        margin-right: 2%;
      }
      .color-circle {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 2px solid #6a6969;
      }
      .size-options {
        border: #6a6969 1px solid;
        border-radius: 20%;
        width: 2.3rem;
      }
      .size-list > *,
      .color-list > * {
        margin-right: 2%;
      }
      .list {
        padding: 2% 0;
      }
      .list > * {
        margin-right: 4%;
        margin-bottom: 4%;
      }
      .color-options > p {
        margin-top: 5px;
        font-size: 0.7rem;
      }
      .text-add {
        width: 100%;
        padding: 2% 0;
      }
      .text-add > * {
        font-weight: 400;
        margin-bottom: 1%;
      }
      .text-add > input[type="text"] {
        width: 90%;
        padding: 0.6rem;
        border: none;
        border-radius: 20px;
      }
      input[type="text"]:focus {
        outline: none;
      }

      button {
        width: 10rem;
        border: none;
        border-radius: 20px;
        padding: 2%;
        background-color: #E74015;
        color: #ffffff;
        cursor: pointer;
      }

      button:hover {
        background-color: #c62c06;
        transform: scale(1.05);
        transition: ease-in-out 200ms;
      }

      div.image-container {
        overflow: hidden;
      }

      #mockup-image-canvas {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        width: 450px;
      }

      #mockup-image-canvas > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 450px;
      }

      #mockup-image-canvas canvas {
        position: absolute;
        top: 0;
        left: 0;
      }

      #mockup-image {
        position: relative;
      }

      .design-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 70%;
        background-color: #be094e;
        border-radius: 20px;
        height: 15px;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        border: 1px solid gray;
        border-radius: 100%;
        background: #ffffff;
        cursor: pointer;
      }
      input[type="range"]:active {
        -webkit-appearance: none;
        background-color: #ff0063;
        transition: all ease-in-out 200ms;
      }

      @media (max-width: 900px) {
        .App {
          display: none;
        }
        .Info {
          display: flex;
          height: 100vh;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
        .Info > * {
          width: 90%;
          font-weight: 500;
          font-size: 2rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="banner">
      <%- include('partials/side-logo.ejs') %> <%- include('partials/top.ejs')
      %>
    </div>
    <!-- Fabric JS -->
    <div class="App">
      <div class="left-box">
        <h1 class="heading">Design Library</h1>
        <div id="product-design">
          <div class="template-div" id="mockup-image-canvas">
            <!-- Mockup image goes here -->
            <img src="" alt="mockup-image" id="mockup-image" />
          </div>
        </div>
      </div>
      <div class="right-box">
        <!-- Upload design image input -->
        <div>
          <label for="design-input" class="design-input-label">
            Upload Design
          </label>
          <input
            id="design-input"
            type="file"
            accept=".png, .jpg, .jpeg"
            style="display: none"
            onchange="addImageToCanvas(event)" />
        </div>
        <!-- Design Side -->
        <div class="list">
          <button onclick="changeSide('front')">Front</button>
          <button onclick="changeSide('back')">Back</button>
        </div>
        <!-- Position of design image -->
        <div>
          <h3>Position</h3>
          <div class="list">
            <button onclick="setPosition('top-left')">Top Left</button>
            <button onclick="setPosition('top-right')">Top Right</button>
            <button onclick="setPosition('bottom-left')">Bottom Left</button>
            <button onclick="setPosition('bottom-right')">Bottom Right</button>
            <button onclick="setPosition('center')">Center</button>
            <button onclick="setPosition('custom')">Custom</button>
          </div>
        </div>
        <!-- Color Options Will Be Displayed -->
        <div class="color-list"></div>
        <!-- Size options will be displayed -->
        <div class="size-list"></div>
        <!-- Design Image Stats -->
        <div class="design-stats">
          <p class="height-design"></p>
          <p class="width-design"></p>
        </div>
        <!-- Save Image -->
        <div>
          <button onclick="saveImage()">Save Image</button>
        </div>
      </div>
    </div>
    <script src="/js/fabric-designer.js"></script>
  </body>
</html>
