<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="/css/invoice.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <title>Invoice</title>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
        <%- include('partials/top.ejs') %>
    </div>
    <div class="invoice">
    
        <div class="head">
            <p>INVOICING</p>
        </div>
        <div class="choice-cnt" data-aos="fade-up">
            <div class="choice">
                <p id="ch1" class="chc active">Credits</p>
                <p id="ch2" class="chc">Payment</p>
                <p id="ch4" class="chc">Invoice</p>
            </div>
        </div>
        <div class="main-cnt" data-aos="fade-up">
            <div class="main credit" id="credit">
                <div class="fil">
                    <div class="filter">
                        <div class="name">
                            <input type="text" placeholder="Order ID">
                        </div>
                        <div class="dropdown">
                            <p>All <i class="fa-solid fa-sort-down"></i></p>
                            <div class="dropdown-content">
                                <p>scroll1</p>
                                <p>scroll2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bts">
                    <div class="btns">
                        <div class="bt-n">
                            <button class="bt-1">Search</button>
                        </div>
                        <div class="bt-n">
                            <button class="bt-2">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="headings">
                    <div class="list-topics">
                        <div class="list date">
                            <p>Date</p>
                        </div>
                        <div class="list ordid">
                            <p>Order/Payment ID</p>
                        </div>
                        <div class="list type">
                            <p>Type</p>
                        </div>
                        <div class="list amt">
                            <p>Amount</p>
                        </div>
                        <div class="list cmnt">
                            <p>Comments</p>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="cnts">
                        <div class="dates">
                            <p>14-04-2023</p>
                        </div>
                        <div class="ord">
                            <p>25565</p>
                        </div>
                        <div class="type">
                            <p>Credit</p>
                        </div>
                        <div class="amont">
                            <p>$1000</p>
                        </div>
                        <div class="cmnts">
                            <p>Recharge</p>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="cnts">
                        <div class="dates">
                            <p>14-04-2023</p>
                        </div>
                        <div class="ord">
                            <p>25565</p>
                        </div>
                        <div class="type">
                            <p>Credit</p>
                        </div>
                        <div class="amont">
                            <p>$1000</p>
                        </div>
                        <div class="cmnts">
                            <p>Recharge</p>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="cnts">
                        <div class="dates">
                            <p>14-04-2023</p>
                        </div>
                        <div class="ord">
                            <p>25565</p>
                        </div>
                        <div class="type">
                            <p>Credit</p>
                        </div>
                        <div class="amont">
                            <p>$1000</p>
                        </div>
                        <div class="cmnts">
                            <p>Recharge</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main payment" id="payment">
                <div class="fil">
                    <div class="filter">
                        <div class="name">
                            <input type="text" placeholder="Reference Number">
                        </div>
                    </div>
                </div>
                <div class="bts">
                    <div class="btns">
                        <div class="bt-n">
                            <button class="bt-1">Search</button>
                        </div>
                        <div class="bt-n">
                            <button class="bt-2">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="headings">
                    <div class="list-topics">
                        <div class="list date">
                            <p>Date</p>
                        </div>
                        <div class="list ordid">
                            <p>Reference Number</p>
                        </div>
                        <div class="list type">
                            <p>Amount</p>
                        </div>
                        <div class="list amt">
                            <p>Payment Type</p>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="cnts">
                        <div class="dates">
                            <p>14-04-2023</p>
                        </div>
                        <div class="ord">
                            <p>25565</p>
                        </div>
                        <div class="amont">
                            <p>$1000</p>
                        </div>
                        <div class="cmnts">
                            <p>Recharge</p>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="cnts">
                        <div class="dates">
                            <p>14-04-2023</p>
                        </div>
                        <div class="ord">
                            <p>25565</p>
                        </div>
                        <div class="amont">
                            <p>$1000</p>
                        </div>
                        <div class="cmnts">
                            <p>Recharge</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main invoices" id="invoice">
                <div class="fil">
                    <div class="filter">
                        <div class="name">
                            <input type="text" placeholder="Invoice Number">
                        </div>
                        <div class="name">
                            <input type="text" placeholder="Order Number">
                        </div>
                    </div>
                </div>
                <div class="bts">
                    <div class="btns">
                        <div class="bt-n">
                            <button class="bt-1">Search</button>
                        </div>
                        <div class="bt-n">
                            <button class="bt-2">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="Err">
                    <p>Oops.. It looks like we couldn't find any data. Please try to change the filters and try again.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        let a = document.getElementById("credit");
        let b = document.getElementById("payment");
        let d = document.getElementById("invoice");
        let ch1 = document.getElementById("ch1");
        let ch2 = document.getElementById("ch2");
        let ch4 = document.getElementById("ch4");
        ch1.addEventListener("click", function () {
            a.style.display = "block";
            b.style.display = "none";
            d.style.display = "none";
            ch1.classList.add("active");
            ch2.classList.remove("active");
            ch4.classList.remove("active");
        });
        ch2.addEventListener("click", function () {
            a.style.display = "none";
            b.style.display = "block";
            d.style.display = "none";
            ch1.classList.remove("active");
            ch2.classList.add("active");
            ch4.classList.remove("active");
        });
        ch4.addEventListener("click", function () {
            a.style.display = "none";
            b.style.display = "none";
            d.style.display = "block";
            ch1.classList.remove("active");
            ch2.classList.remove("active");
            ch4.classList.add("active");
        });
    </script>
</body>

</html>