<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/manageorder.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <title>Manage orders - Printwear</title>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>
    <div class="manageorder">
        <div class="mngord-head">
            <h2>Manage Order</h2>
            <button class="filter-button filter-button-active" onclick="changeWidget(event, 'confirmed')">Confirmed</button>
            <button class="filter-button" onclick="changeWidget(event,'refund')">Refund</button>         
        </div>
        <div class="order-table">
            <div id="printwear-order">
                <div class="search-options">
                    <label for="search-orders">Search</label>
                    <input id="search-orders" type="search" placeholder="Order ID, Tracking number, Customer Name, Shipment ID" />
                </div>
                <table>
                    <thead>
                        <th>S. No.</th>
                        <th>Printwear Order ID</th>
                        <th>Your Order ID</th>
                        <th>Amount paid</th>
                        <th>Delivery Charges</th>
                        <th>Delivery Status</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="refund-order">
                Refunds
            </div>
        </div>
        <!-- modal comes here -->
    </div>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        var notyf = new Notyf();
        var orderHistoryData = [];
        var designData = {};

        const orderHistoryTable = document.querySelector("#printwear-order > table tbody");
        const printwearOrderContainer = document.querySelector("#printwear-order");
        const refundOrderContainer = document.querySelector("#refund-order");
        const searchOrderBox = document.querySelector("#search-orders");
        const manageOrderContainer = document.querySelector(".manageorder");

        searchOrderBox.oninput = (e) => {
            let searchKey = e.target.value.toLowerCase().trim();
            if (searchKey == '') return populateOrderHistoryTable();
            const orderHistoryFromSearch = orderHistoryData.filter(orderHistory => (
                    orderHistory.customerOrderId.toLowerCase().includes(searchKey)
                    || orderHistory.CashfreeOrderId.toLowerCase().includes(searchKey) 
                    || orderHistory.printwearOrderId.toLowerCase().includes(searchKey)
                    || orderHistory.shipRocketOrderId.toLowerCase().includes(searchKey)
                    || orderHistory.shipmentId.toLowerCase().includes(searchKey)
                    || Object.values(orderHistory.billingAddress).join(' ').toLowerCase().includes(searchKey) 
                    || Object.values(orderHistory.shippingAddress).join(' ').toLowerCase().includes(searchKey)
            ));
            if (orderHistoryFromSearch.length < 1) return orderHistoryTable.innerHTML = 'Search not found';
            populateOrderHistoryTable(orderHistoryFromSearch)
        }

        const changeWidget = (e, widget) => {
            const filterByGenderButtons = document.querySelectorAll(".filter-button");
            filterByGenderButtons.forEach(filterBtn => filterBtn.classList.remove("filter-button-active"));

            e.target.classList.add("filter-button-active");

            switch (widget) {
                case 'refund':
                    printwearOrderContainer.style.display = "none";
                    refundOrderContainer.style.display = "flex";
                    break;
                case 'confirmed':
                    printwearOrderContainer.style.display = "flex";
                    refundOrderContainer.style.display = "none";
                    break;
                default: 
                    break;
            }
        }

        const openOrderDetailsModal = (e, customerOrderId) => {
            e.preventDefault();
            const modalOrderDetails = orderHistoryData.find(orderData => orderData.customerOrderId == customerOrderId);
            manageOrderContainer.insertAdjacentHTML("beforeend", `
                <div class="order-details-modal-wrapper">
                    <div class="order-details-modal" data-aos="fade-up">
                        <div class="close-button-wrapper">
                            <button id="close-modal">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="order-id-wrapper">
                            <h4>Printwear Order ID: ${modalOrderDetails.printwearOrderId}</h4>
                            <h2>${modalOrderDetails.customerOrderId}</h2>
                        </div>
                        <h3>Order items:</h3>
                        <table class="order-details-table">
                            <thead>
                                <th>S. No.</th>
                                <th>Design Name</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>SKU</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                ${modalOrderDetails.items.map((item, i) => {
                                    let currentDesignItem = designData.designs.find(design => design._id == item.designId);
                                    return `
                                        <tr>
                                            <td>${i+1}</td>
                                            <td>${currentDesignItem.designName}</td>
                                            <td>${currentDesignItem.product.name}</td>
                                            <td>${item.quantity}</td>
                                            <td>${currentDesignItem.designSKU}</td>
                                            <td>₹${item.price}</td>
                                        </tr>
                                    `
                                }).join('\n')}
                            </tbody>
                        </table>
                        <p>Address: ${Object.values(modalOrderDetails.billingAddress).join(', ')}</p>
                        <table>
                            <thead>
                                <th>Shiprocket ID</th>
                                <th>Shipment ID</th>
                                <th>Tracking ID</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>${modalOrderDetails.shipRocketOrderId}</td>
                                    <td>${modalOrderDetails.shipmentId}</td>
                                    <td>${modalOrderDetails.shipmentId}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Order Tracking:</h4>
                        <div class="tracking-status">
                            <ul>
                                <li data-order-status="unplaced">Unplaced</li>
                                <li data-order-status="processing">Processing</li>
                                <li data-order-status="dispatched">Dispatched</li>
                                <li data-order-status="delivered">Delivered</li>
                            </ul>
                        </div>
                    </div>
                </div>
            `);
            const trackingStatusBoxes = document.querySelectorAll('.tracking-status ul li');

            for(let i=0; i<trackingStatusBoxes.length; i++) {
                let el = trackingStatusBoxes[i];
                el.classList.add('status-complete');
                if (el.dataset.orderStatus == modalOrderDetails.deliveryStatus) break;
            }

            const closeModalButton = document.querySelector("#close-modal");
            closeModalButton.addEventListener("click", (e) => {
                manageOrderContainer.removeChild(document.querySelector(".order-details-modal-wrapper"))
            })
        }

        const populateOrderHistoryTable = (data = orderHistoryData) => {
            if (data.length < 1) {
                orderHistoryTable.innerHTML = `No orders yet!`;
                return notyf.error("No order history");
            }
            orderHistoryTable.innerHTML = data.map((orderHistory, i) => {
                return `
                    <tr>
                        <td>${i+1}</td>
                        <td>${orderHistory.printwearOrderId}</td>
                        <td><a href="#" onclick="openOrderDetailsModal(event, '${orderHistory.customerOrderId}')">${orderHistory.customerOrderId}</a></td>
                        <td>₹ ${orderHistory.amountPaid}</td>
                        <td>₹ ${orderHistory.deliveryCharges}</td>
                        <td>${orderHistory.deliveryStatus}</td>
                    </tr>                    
                `;
            }).join('\n')
        }

        const fetchOrderHistory = async () => {
            try {
                const orderHistoryRequest = await fetch("/getorderhistory");
                const orderHistoryResponse = await orderHistoryRequest.json();
                console.log(orderHistoryResponse)
                if (!orderHistoryRequest.ok) {
                    console.log(orderHistoryResponse.message || "Unknown error");
                    return notyf.error(orderHistoryResponse.message || "Unknown error");
                }
                orderHistoryData = orderHistoryResponse;
                populateOrderHistoryTable();
            } catch (error) {
                console.log(error);
                notyf.error("Something went wrong!");
            }
        }
    
        const fetchDesignsData = async () => {
            try {
                const designsFetchRequest = await fetch("/getdesigns");
                const designsFetchResponse = await designsFetchRequest.json();
                console.log(designsFetchResponse);
                if (!designsFetchRequest.ok) {
                    console.log(designsFetchResponse.message || "Unknown error");
                    return notyf.error(designsFetchResponse.message || "Unknown error");
                }
                designData = designsFetchResponse;
                fetchOrderHistory();
            } catch (error) {
                console.log(error);
                notyf.error("Something went wrong!");
            }
        }

        fetchDesignsData();
    
    </script>
</body>

</html>