<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Mocked</title>

   <!-- Logo Favicon -->
   <link rel="icon" type="image/png" href="images/geo-flower.png">
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Quicksand:400,700|Barlow" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
   <!-- Google TEE Fonts  -->
   <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Lobster|Monoton|Paytone+One" rel="stylesheet">
   <!-- Font Awesome CDN -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- jQuery files -->
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
   <!-- jQueryUI -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
   <!-- My CSS styles -->
   <link rel="stylesheet" href="/css/mockupgenerator.css">
   <!-- My JS files -->
   <script src="/js/aapu.js" defer></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>

</head>

<body>
   <div class="banner">
      <%- include('partials/side-logo.ejs') %>
         <%- include('partials/top.ejs') %>
   </div>
   <div id="h-line">
      <hr />
   </div>
   <div id="d-title">
      <p>DESIGN GALLERY</p>
   </div>

   <div id="create1" class="create">

      <main class="flex-row stacked">
         <!-- SHIRT CONTAINER -->

         <section class="shirt-container" id="example">
            <!-- <div id="examples">
               <div class="front">
                  <img class="tee" src="images/mens-tee-front-black.png" />
               </div>
               <div class="back">
                  <img class="tee" src="images/backside_tshirt-removebg.png" />
               </div>
               
            </div> -->
            <div class="creation-left">
               <div class="main-box">
                  <div class="creation-card">
                     <div class="front">
                        <div class="frnt">
                           <img src="/images/mens-tee-front-black.png" id="front-tshirt">
                        </div>
                        <div class="current-design front-design">
                           <div id="design-target" class="print-area area">
                              <img id="design-display" src="" />
                              <p id="text-display"></p>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="back">
                        <div class="bck">
                           <img src="images/backside_tshirt-removebg.png" id="back-tshirt">
                        </div>
                        <div class="current-design1 back-design">
                           <div id="design-target" class="print-area1">
                              <img id="design-display1" src="" />
                              <p id="text-display1"></p>
                           </div>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </section>





         <!-- INFO CONTAINER -->
         <section class="info-container">
            <form method="post" action="/details">
               <!-- <div class="arrow"><button onclick="flip()"><i class="fa-solid fa-angle-right fa-5x"></i></button></div> -->
               <!-- GARMENT STYLE -->
               <section id="garment-control" class="garment mobile-info-display">
                  <div class="flex-row">
                     <!-- GARMENT POSITION -->
                     <div class="garmentpos flex-row">

                        <div class="dropdown-container">
                           <div class="maathurabutton">
                              <button onclick="fmaathu()" class="dropdown-button">
                                 <span class="button-label">Back</span>

                              </button>


                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- <hr /> -->

                  <!-- GARMENT COLOR -->
                  <div class="flex-row">
                     <div class="flex-row">
                        <span>Color:</span>
                        <span class="current-value">Black</span>
                     </div>
                     <div class="flex-row">
                        <div class="garment-swatch black is-selected"></div>
                        <div class="garment-swatch silver"></div>
                        <div class="garment-swatch navy"></div>
                        <div class="garment-swatch red"></div>
                        <div class="garment-swatch white"></div>
                        <div class="garment-swatch charcoal"></div>
                     </div>
                  </div>
                  <span type="button" class="mobile-close"> CLOSE </span>
               </section>
               <!-- end of garment section  -->

               <!-- TEXT SECTION -->
               <section id="text-control" class="text-design mobile-info-display">
                  <!-- TEXT FONT SECTION -->
                  <div class="text-box">
                     <input id="custom-text" class="custom-text" type="text" name="fronttext"
                        placeholder="Add Your Text Here" />
                     <button id="text-plus" class="size-control"><i class="fas fa-plus"></i></button>
                     <button id="text-minus" class="size-control"><i class="fas fa-minus"></i></button>
                  </div>
                  <div class="fonts flex-row">
                     <div class="flex-row-between">
                        <div class="dropdown-container">
                           <div class="dropdown">
                              <button class="dropdown-button">
                                 <span class="button-label">Font</span>
                                 <i class="fa fa-angle-down"></i>
                              </button>
                              <ul class="dropdown-options">
                                 <li class="dropdown-option font-option">Paytone One</li>
                                 <li class="dropdown-option font-option is-selected">Lobster</li>
                                 <li class="dropdown-option font-option">Monoton</li>
                              </ul>
                           </div>
                        </div>
                        <div class="value-container">
                           <span id="font-value" class="current-value">
                              Lobster
                           </span>
                        </div>
                     </div>

                     <!-- TEXT COLOR SECTION -->

                     <div class="flex-row">

                        <div>
                           <input type="color" id="color-choice" name="colorchoice" value="#E54B4B" />
                           <label for="body"></label>
                        </div>
                        <div class="value-container">
                           <span id="text-color-value" class="current-value">
                              #E54B4B
                           </span>
                        </div>
                     </div>
                  </div>
                  <span class="mobile-close"> CLOSE </span>
               </section>
               <!-- end of text section -->

               <!-- IMAGE SECTION -->
               <section id="image-control" class="image-container mobile-info-display">
                  <div class="img-con">
                     <div class="flex-col image-design">

                        <!-- upload file button, masked with a styled button -->
                        <div class="im-top">
                           <input id="image-input" type="file" />
                           <button type="button" id="upload-button" class="image-upload">Upload Image</button>
                        </div>
                        <div class="im-bottom">
                           <span>Width:</span>
                           <span class="current-value current-width"></span>
                           <span>Height:</span>
                           <span class="current-value current-height"></span>
                           <button id="width-plus" class="size-control"><i class="fas fa-plus"></i></button>
                           <button id="width-minus" class="size-control"><i class="fas fa-minus"></i></button>
                        </div>
                     </div>
                     <span type="button" class="mobile-close"> CLOSE </span>
                     <div class="chk-avail">
                        <input type="text" placeholder="Check Availability">
                        <button><i class="fa-solid fa-check"></i></button>
                     </div>
                  </div>
               </section>

               <!-- DEFAULT IMAGE SECTION -->
               <section id="default-control" class="default-container mobile-info-display">
                  <div class="dft-con">
                     <p class="image-instr">Don't have an image ready? Use one of ours.</p>
                     <button type="button" class="default-image">
                        <img src="images/geo-flower.png" />
                     </button>
                     <button type="button" class="default-image black">
                        <img src="images/flaming-bunny.png" />
                     </button>
                     <button type="button" class="default-image black">
                        <img src="images/sugar-skull.svg" />
                     </button>
                     <span type="button" class="mobile-close"> CLOSE </span>
                  </div>
               </section>


               <!-- <hr> -->
               <!-- SAVE SECTION -->
               <!-- <div class="save-box">
               <form method="POST" action=".">
                  <input type="hidden" name="style-value-hidden" value="MensTee" />
                  <div class="flex-column save-container">
                     <button type="button" class="save" id="dlpng" onclick="rex()">PROCEED</button>
                  </div>
               </form>
            </div> -->

         </section>

         <!-- end of info Container  -->

         <section class="flex-row mobile-label">

         </section>

         <section class="flex-row mobile-position">
            <div id="mb-left" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-left"></i>
            </div>
            <div id="mb-right" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-right"></i>
            </div>
            <div id="mb-up" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-up"></i>
            </div>
            <div id="mb-down" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div id="mb-plus" class="mobile-icon-pos">
               <i class="fas fa-plus-circle"></i>
            </div>
            <div id="mb-minus" class="mobile-icon-pos">
               <i class="fas fa-minus-circle"></i>
            </div>
         </section>

         <section class="flex-row mobile-controls">
            <div id="mb-garment" class="mobile-icon">
               <i class="fas fa-tshirt"></i>
            </div>
            <div id="mb-image" class="mobile-icon">
               <i class="fas fa-file-image"></i>
            </div>
            <div id="mb-text" class="mobile-icon">
               <i class="fas fa-font"></i>
            </div>
            <div id="mb-default" class="mobile-icon">
               <i class="fas fa-question"></i>
            </div>
         </section>





      </main>
      <div class="save-box">
         <input type="hidden" name="style-value-hidden" value="MensTee" />
         <div class="flex-column save-container">
            <button type="button" class="save" id="dlpng" data-toggle="modal" data-target="#exampleModal">SAVE</button>

            <a href="/cart" role="button" class="save"> PROCEED </a>

         </div>
         </form>
      </div>
   </div>
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
         <div class="modal-content">
            <div class="modal-header border-0">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="bt1">
                  <i class="fa-solid fa-rectangle-xmark fa-lg"></i>
               </button>
            </div>
            <div class="modal-body border-0">
               <p>Are you sure, want to add this to your cart?</p>
            </div>
            <div class="modal-footer border-0">
               <button type="submit" class="btn btn-primary" data-dismiss="modal" id="btn-yes"
                  onclick="rex()">Yes</button>
               <button type="button" class="btn btn-secondary" id="btn-no" data-dismiss="modal">No</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Button trigger modal


 <!-- ///////////////////////////////keela div hu//////////////////////////////////////////////// -->
   <div id="create2" class="create theriyutha ">


      <main class="flex-row stacked">
         <!-- SHIRT CONTAINER -->

         <section class="shirt-container" id="example">
            <!-- <div id="examples">
            <div class="front">
               <img class="tee" src="images/mens-tee-front-black.png" />
            </div>
            <div class="back">
               <img class="tee" src="images/backside_tshirt-removebg.png" />
            </div>
         </div> -->
            <div class="creation-left">
               <div class="main-box">
                  <div class="creation-card">
                     <div class="backkkuuu">
                        <div class="frnt">
                           <!-- <img src="images/mens-tee-front-black.png" id="front-tshirt"> -->
                           <img src="/images/backside_tshirt-removebg.png" id="back-tshirt">
                           <!-- <img src="/images/mens-tee-front-black.png" id="back-tshirt"> -->
                        </div>
                        <div class="current-design front-design">
                           <div id="design-target1" class="print-area">
                              <img id="design-display1" src="" />
                              <p id="text-display1"></p>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="back">
                     <div class="bck"> -->
                     <!-- <img src="images/backside_tshirt-removebg.png" id="back-tshirt"> -->

                     <!-- <div class="current-design1 back-design">
                        <div id="design-target" class="print-area1">
                           <img id="design-display1" src="" />
                           <p id="text-display1"></p>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </section>





         <!-- INFO CONTAINER -->
         <section class="info-container">
            <!-- <div class="arrow"><button onclick="flip()"><i class="fa-solid fa-angle-right fa-5x"></i></button></div> -->
            <!-- GARMENT STYLE -->
            <section id="garment-control" class="garment mobile-info-display">
               <div class="flex-row">
                  <!-- GARMENT POSITION -->
                  <div class="garmentpos flex-row">
                     <div class="dropdown-container">
                        <div class="maathurabutton">
                           <button onclick="bmaathu()" class="dropdown-button">
                              <span class="button-label">Front</span>
                           </button>

                        </div>
                     </div>
                     <!-- <div class="dropdown-container">
                     <div class="dropdown">
                        <button class="dropdown-button">
                           <span class="button-label">Back</span>
                        </button>
                        
                     </div>
                  </div>
                   -->
                  </div>
               </div>
               <!-- <hr /> -->

               <!-- GARMENT COLOR -->
               <div class="flex-row">
                  <div class="flex-row">
                     <span>Color:</span>
                     <span class="current-value">Black</span>
                  </div>
                  <div class="flex-row">
                     <div class="garment-swatch black is-selected"></div>
                     <div class="garment-swatch silver"></div>
                     <div class="garment-swatch navy"></div>
                     <div class="garment-swatch red"></div>
                     <div class="garment-swatch white"></div>
                     <div class="garment-swatch charcoal"></div>
                  </div>
               </div>
               <span type="button" class="mobile-close"> CLOSE </span>
            </section>
            <!-- end of garment section  -->

            <!-- TEXT SECTION -->
            <section id="text-control" class="text-design mobile-info-display">
               <!-- TEXT FONT SECTION -->
               <div class="text-box">
                  <input id="custom-text1" class="custom-text1" name="fronttext" type="text"
                     placeholder="Add Your Text Here" />
                  <button id="text-plus1" class="size-control"><i class="fas fa-plus"></i></button>
                  <button id="text-minus1" class="size-control"><i class="fas fa-minus"></i></button>
               </div>
               <div class="fonts flex-row">
                  <div class="flex-row-between">
                     <div class="dropdown-container">
                        <div class="dropdown">
                           <button class="dropdown-button">
                              <span class="button-label">Font</span>
                              <i class="fa fa-angle-down"></i>
                           </button>
                           <ul class="dropdown-options">
                              <li class="dropdown-option font-option1">Paytone One</li>
                              <li class="dropdown-option font-option1 is-selected">Lobster</li>
                              <li class="dropdown-option font-option1">Monoton</li>
                           </ul>
                        </div>
                     </div>
                     <div class="value-container">
                        <span id="font-value1" class="current-value">
                           Lobster
                        </span>
                     </div>
                  </div>

                  <!-- TEXT COLOR SECTION -->

                  <div class="flex-row">

                     <div>
                        <input type="color" id="color-choice1" name="color-choice1" value="#E54B4B" />
                        <label for="body"></label>
                     </div>
                     <div class="value-container">
                        <span id="text-color-value1" class="current-value">
                           #E54B4B
                        </span>
                     </div>
                  </div>
               </div>
               <span class="mobile-close"> CLOSE </span>
            </section>
            <!-- end of text section -->

            <!-- IMAGE SECTION -->
            <section id="image-control" class="image-container mobile-info-display">
               <div class="img-con">
                  <div class="flex-col image-design">

                     <!-- upload file button, masked with a styled button -->
                     <div class="im-top">
                        <input id="image-input1" type="file" />
                        <button type="button" id="upload-button1" class="image-upload">Upload Image</button>
                     </div>
                     <div class="im-bottom">
                        <span>Width:</span>
                        <span class="current-value current-width1"></span>
                        <span>Height:</span>
                        <span class="current-value current-height1"></span>
                        <button id="width-plus1" class="size-control"><i class="fas fa-plus"></i></button>
                        <button id="width-minus1" class="size-control"><i class="fas fa-minus"></i></button>
                     </div>
                  </div>
                  <span type="button" class="mobile-close"> CLOSE </span>
                  <div class="chk-avail">
                     <input type="text" placeholder="Check Availability">
                     <button><i class="fa-solid fa-check"></i></button>
                  </div>
               </div>
            </section>

            <!-- DEFAULT IMAGE SECTION -->
            <section id="default-control" class="default-container mobile-info-display">
               <div class="dft-con">
                  <p class="image-instr">Don't have an image ready? Use one of ours.</p>
                  <button type="button" class="default-image1">
                     <img src="images/geo-flower.png" />
                  </button>
                  <button type="button" class="default-image1 black">
                     <img src="images/flaming-bunny.png" />
                  </button>
                  <button type="button" class="default-image1 black">
                     <img src="images/sugar-skull.svg" />
                  </button>
                  <span type="button" class="mobile-close"> CLOSE </span>
               </div>
            </section>

            <!-- <hr> -->
            <!-- SAVE SECTION -->
            <!-- <div class="save-box">
            <form method="POST" action=".">
               <input type="hidden" name="style-value-hidden" value="MensTee" />
               <div class="flex-column save-container">
                  <button type="button" class="save" id="dlpng" onclick="res()">PROCEED</button>
               </div>
            </form>
         </div> -->

         </section>
         <!-- end of info Container  -->

         <section class="flex-row mobile-label">

         </section>

         <section class="flex-row mobile-position">
            <div id="mb-left" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-left"></i>
            </div>
            <div id="mb-right" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-right"></i>
            </div>
            <div id="mb-up" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-up"></i>
            </div>
            <div id="mb-down" class="mobile-icon-pos">
               <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div id="mb-plus" class="mobile-icon-pos">
               <i class="fas fa-plus-circle"></i>
            </div>
            <div id="mb-minus" class="mobile-icon-pos">
               <i class="fas fa-minus-circle"></i>
            </div>
         </section>

         <section class="flex-row mobile-controls">
            <div id="mb-garment" class="mobile-icon">
               <i class="fas fa-tshirt"></i>
            </div>
            <div id="mb-image" class="mobile-icon">
               <i class="fas fa-file-image"></i>
            </div>
            <div id="mb-text" class="mobile-icon">
               <i class="fas fa-font"></i>
            </div>
            <div id="mb-default" class="mobile-icon">
               <i class="fas fa-question"></i>
            </div>
         </section>

         <br>



      </main>
      <br>
      <br>
      <br>
   </div>






   <!-- <footer>
      <p> &copy; 2018 Sharon Paz</p>
   </footer> -->

</body>

<script src="/js/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
   integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


   let x = document.getElementById("dlpng");
   let y = document.getElementById("design-target");

   x.addEventListener("click", function () {
      y.classList.remove("area");
   })





   function rex() {


      const screenshotTarget = document.querySelector(".front");
      html2canvas(screenshotTarget).then((canvas) => {
         const base64image = canvas.toDataURL("image/png");

         const data = { frontImage: base64image };
         console.log(data);
         fetch('/my-endpoint', {

            method: 'POST',
            headers: {
               'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
         });

         var anchor = document.createElement("a");
         anchor.setAttribute("href", base64image);
         anchor.setAttribute("download", "my-image.png");
         console.log(base64image);

         console.log(anchor);
         anchor.click();
         anchor.remove();

      });
      res();

   }

   function res() {

      fmaathu();
      const screenshotTarget = document.querySelector(".backkkuuu");
      html2canvas(screenshotTarget).then((canvas) => {

         const base64image = canvas.toDataURL("image/png");

         const data = { backImage: base64image };
         console.log(data);
         fetch('/my-endpoint', {

            method: 'POST',
            headers: {
               'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
            //  alert("lknvfd");
         });
         var anchor = document.createElement("a");
         anchor.setAttribute("href", base64image);
         anchor.setAttribute("download", "my-image.png");
         console.log(base64image);

         console.log(anchor);
         anchor.click();
         anchor.remove();

      })
      bmaathu();
   }


   function fmaathu() {
      const frontside = document.getElementById("create1");
      const backside = document.getElementById("create2");

      frontside.classList.add("theriyutha");
      backside.classList.remove("theriyutha");

   }

   function bmaathu() {

      const frontside = document.getElementById("create1");
      const backside = document.getElementById("create2");

      frontside.classList.remove("theriyutha");
      backside.classList.add("theriyutha");

   }


</script>

</html>