<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Mockup Generator - Printwear</title>
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
	<!-- Snakbox -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	<!-- Global Styles -->
	<link href="/css/mockupgenerator.css" rel="stylesheet" />
	<!-- Fabric JS -->
	<script src="https://cdn.jsdelivr.net/npm/fabric@4.5.1/dist/fabric.min.js"></script>
	<!-- DOM to image and File Save -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
	<!-- Goole fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
	<div class="banner">
		<%- include('partials/side-logo.ejs') %> <%- include('partials/top.ejs') %>
	</div>
	<main class="mockup-generator">
		<div class="left-container">
			<div class="mockup-image">
				<div class="mockup-image-container">
					<img src="/images/women-tees-mockup.png" alt="Women Tees" />
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="mockup-details">
				<h3>Women's Tee mockup</h3>
				<p>Testing T-shirt for women's T-Shirt</p>
			</div>
			<h2 class="step"><i class="fa fa-circle-1"></i> Choose Color</h2>
			<div class="color-list">
				<span class="loader"></span>
			</div>
			<h2 class="step"><i class="fa fa-circle-2"></i> Choose Design</h2>						
			<div class="mockup-design">
				<div class="user-design-images">
					
				</div>
				<div style="display: grid;/* align-items: center; */gap:  1rem;align-items: center;grid-template-columns: 1fr auto 1fr;"><hr style="/* width: 200px; */height: 1px;">OR<hr style="/* width: 200px; */height: 1px;"></div>
				<div>
					<label onclick="openDesignUploadModal(event)" class="top-nav-btn">
						<i class="fa fa-file-upload"></i>
						Upload Design
					</label>
					<!-- <input id="design-input" type="file" multiple="true" accept=".png, .jpg, .jpeg" style="display: none" /> -->
				</div>
			</div>
			<h2 class="step"><i class="fa fa-circle-3"></i> Name your mockups</h2>						
			<div class="mockup-design">
				<input type="text" class="design-name-input" placeholder="My custom T-shirt, etc..." required name="mockup-name" id="mockup-name" />
			</div>
			<h2 class="step"><i class="fa fa-circle-4"></i> Download Mockups</h2>						
			<div class="mockup-download">
				<button class="top-nav-btn" onclick="downloadDesign()"><i class="fa fa-download"></i> Download</button>
			</div>
		</div>
	</main>
	<% var userName = userName;  %>
	<script>
		var userName = '<%= userName %>'
	</script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="js/mockup-generator.js"></script>
</body>
</html>