<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Mockup Generator - Printwear</title>
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
	<!-- Snakbox -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	<!-- Global Styles -->
	<link href="/css/mockupgenerator.css" rel="stylesheet" />
	<!-- Fabric JS -->
	<script src="https://cdn.jsdelivr.net/npm/fabric@4.5.1/dist/fabric.min.js"></script>
	<!-- DOM to image and File Save -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
	<!-- Goole fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
	<div class="banner">
		<%- include('partials/side-logo.ejs') %> <%- include('partials/top.ejs') %>
	</div>
	<main class="mockup-generator">
		<div class="left-container">
			<div class="mockup-image">
				<div class="mockup-image-container">
					<img src="/images/women-tees-mockup.png" alt="Women Tees" />
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="mockup-details">
				<h3>Women's Tee mockup</h3>
				<p>Testing T-shirt for women's T-Shirt</p>
			</div>
			<div class="color-list">
				
				
				<div class="color-option color-disabled" onclick="addColorToRender(this)" title="Image not available">
				  <span class="color-circle" style="background: #464646; border: 
				  2px solid #6a6969;" id="Charcoal Melange-1">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Charcoal Melange</p>
				</div>
				
				<div class="color-option color-disabled" onclick="addColorToRender(this)" title="Image not available">
				  <span class="color-circle" style="background: #F5F5DC; border: 
				  2px solid #6a6969;" id="Ecru Melange-2">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Ecru Melange</p>
				</div>
				
				<div class="color-option color-disabled" onclick="addColorToRender(this)" title="Image not available">
				  <span class="color-circle" style="background: #808080; border: 
				  2px solid #6a6969;" id="Grey Melange-3">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Grey Melange</p>
				</div>
				
				<div class="color-option" onclick="addColorToRender(this)">
				  <span class="color-circle" style="background: #FFDB58; border: 
				  2px solid #6a6969;" id="Mustard Yellow-4">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Mustard Yellow</p>
				</div>
				
				<div class="color-option" onclick="addColorToRender(this)">
				  <span class="color-circle" style="background: #000080; border: 
				  2px solid #6a6969;" id="Navy Blue-5">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Navy Blue</p>
				</div>
				
				<div class="color-option" onclick="addColorToRender(this)">
				  <span class="color-circle" style="background: #FF0000; border: 
				  2px solid #6a6969;" id="Red-6">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>Red</p>
				</div>
				
				<div class="color-option" onclick="addColorToRender(this)">
				  <span class="color-circle" style="background: #FFFFFF; border: 
				  2px solid #6a6969;" id="White-7">
				  <i class="fa fa-check color-tick"></i>
				</span>
				  <p>White</p>
				</div>
			</div>						
			<div class="mockup-design">
				<div class="user-design-images">
					
				</div>
				<div style="display: grid;/* align-items: center; */gap:  1rem;align-items: center;grid-template-columns: 1fr auto 1fr;"><hr style="/* width: 200px; */height: 1px;">OR<hr style="/* width: 200px; */height: 1px;"></div>
				<div>
					<label for="design-input" onclick="openDesignUploadModal(event)" class="design-input-label">
						<i class="fa fa-file-upload"></i>
						Upload Design
					</label>
					<!-- <input id="design-input" type="file" multiple="true" accept=".png, .jpg, .jpeg" style="display: none" /> -->
				</div>
			</div>
			<div class="mockup-download">
				<button onclick="downloadDesign()">Download</button>
			</div>
		</div>
	</main>
	<script src="js/mockup-generator.js"></script>
</body>
</html>