<!DOCTYPE html>
<html>

<head>
    <title>Newpassword</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/newpassword.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>

<body>

    <div class="hero">
        <%if(success!='') {%>
            <!-- Alert message for displaying an error -->
            <div class="alert error">
                <input type="checkbox" id="alert1" />
                <label class="close" title="close" for="alert1">
                <i class="icon-remove"></i>
              </label>
                <p class="text">
                    <strong><%=success%></strong> 
                </p>
            </div>
        <%}%>
        <div class="form-box" data-aos="fade-down">
            <button id="back"><a href="/forget"><i class="fa-solid fa-angles-left"></i></a></button>
                <div class="button-box">
                    <!-- <div id="btn"></div> -->
                    <p type="button" class="toggle-btn">New Password</p>
                </div>
            <form action="/updatepassword" method="POST"id="login" class="input-group">
                <input type="text" name="newpassword" class="input-field" placeholder="New password" />
                <input type="password" name="confirmpassword" class="input-field" placeholder="Confirm New Password" />
                <button type="submit" class="submit-btnx" name="submit">Proceed</button>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>