<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/placeorder.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <title>Stock Inventory</title>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>
    <div class="order-wrapper">

        <div class="progressbar">
            <h2>CREATE ORDER</h2>
        </div>
        <div class="steps" data-aos="fade-up">
            <div class="stp">
                <i class="fa-solid fa-briefcase"></i>
                <p>Products</p>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="stp">
                <i class="fa-solid fa-truck"></i>
                <p>Shipping</p>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="stp">
                <i class="fa-solid fa-circle-check"></i>
                <p>Review</p>
            </div>
        </div>
        <div class="create-order-container" data-aos="fade-up">
            <p>Add a product to start creating your order</p>
            <!-- Button trigger modal -->
            <button type="button" onclick="openModal()" id="toggle-modal">
                Choose design
            </button>
        </div>
        <!-- put anythign here, but not after backdrop-->
    </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        var notyf = new Notyf();

        var designLibraryData;
        var quickAddData;

        const createOrderContainer = document.querySelector(".create-order-container");

        var orderData = [];

        const createTableRow = (designObject, sno) => {
            const row = document.createElement("tr");

            const SNoCell = document.createElement("td");
            SNoCell.textContent = sno;

            const nameCell = document.createElement("td");
            nameCell.textContent = designObject.designName;

            const skuCell = document.createElement("td");
            skuCell.textContent = designObject.designSKU
            
            const previewCell = document.createElement("td");
            previewCell.innerHTML = `<img class="design-preview-image" src='${designObject.designImage.front?? designObject.designImage.back}' />`
            
            const actionCell = document.createElement("td");
            actionCell.innerHTML = `<button onclick="addToOrder('${designObject.designSKU}')">Add to order</button>`

            row.appendChild(SNoCell);
            row.appendChild(nameCell);
            row.appendChild(skuCell);
            row.appendChild(previewCell);
            row.appendChild(actionCell);

            designLibraryData.appendChild(row);
        }

        const populateDesignWidget = (data = designDataResponse) => {
            designLibraryData.innerHTML = '';
            if (data.designs.length < 1) return designLibraryData.innerHTML = 'No designs yet!'
            data.designs.forEach((design, i) => createTableRow(design, i+1));
        }

        const populateOrderTable = (data = orderData) => {
            if (data.length < 1) return;
            createOrderContainer.innerHTML = `
            <button type="button" onclick="openModal()" id="toggle-modal">
                Choose design
            </button>
            <table class="order-table">
                <thead>
                    <tr>
                        <td>S.NO</td>
                        <td>DETAILS</td>
                        <td>DESIGN</td>
                        <td>PRICE</td>
                        <td>QUANTITY</td>
                        <td>TOTAL</td>
                    </tr>
                </thead>
                <tbody id="order-data">
            `;
            document.querySelector("#order-data").innerHTML += data.map((order, i) => `
                    <tr>
                        <th>${i+1}</th>
                        <th class="order-details">
                            <div class="order-text">Product Name: <h4 class="order-product-name">${order.product.name}</h4></div>
                            <div class="order-text">Design Name: <h4 class="order-product-name">${order.designName}</h4></div>
                            <div class="order-text">SKU: <h4 class="order-product-SKU">${order.designSKU}</h4></div>
                            <div class="order-text">Color: <h4 class="order-product-color">${order.product.color}</h4></div>
                            <div class="order-text">Size: <h4 class="order-product-size">${order.product.size}</h4></div>
                        </th>
                        <th class="order-images">
                            <div class="order-image-container">
                                ${order.designImage.front !== 'false' ? `
                                <div>
                                    <h4>Front design</h4>
                                    <a target="_blank" href="${order.designImage.front}">
                                    <img src="${order.designImage.front}"
                                    alt="${order.designName}-front"></a>
                                </div>
                                `: ''}
                                ${order.designImage.back !== 'false' ? `
                                <div>
                                    <h4>Back design</h4>
                                    <a target="_blank" href="${order.designImage.back}">
                                    <img src="${order.designImage.back}"
                                    alt="${order.designName}-back"></a>
                                </div>
                                `: ''}
                            </div>
                        </th>
                        <th>
                            ₹.${order.price} <i class="fa fa-info-circle" onmouseover="console.log(event.target.className)" onmouseout="console.log('gone')"></i>
                        </th>
                        <th>
                            <input type="number" value="1" min="1" max="5" onchange="updateQuantity(event, ${i}, ${order.price})" name="quantity" class="order-qty" />
                        </th>
                        <th>
                            ₹.${order.price}
                        </th>
                    </tr>
            `).join('');
            createOrderContainer.innerHTML += `</tbody></table>`
        }

        const updateQuantity = (e, i, price) => {
            document.querySelector(".order-table").lastChild.children[i].children[5].innerHTML = '₹.' + price*e.target.value
        }

        const fetchDesigndata = async () => {
            try {
                const designDataRequest = await fetch("/getdesigns");
                designDataResponse = await designDataRequest.json();
                designDataResponse.designs.forEach(design => design.isAddedToOrder = false);
                if (!designDataRequest.ok) {
                    return notyf.error("Error loading data. Please refresh or check connection");
                }
            } catch (error) {
                console.log(error);
                notyf.error("Error")
            }
        }

        const fetchOrderData = async () => {
            // write function to fetch orders and save to orderData
            // call populateOrderTable()
        }
        
        const openModal = () => {
            document.querySelector(".order-wrapper").insertAdjacentHTML("beforeend", `
            <div class="create-order-modal-backdrop">
                <div class="create-order-modal" data-aos="fade-up">
                    <div class="create-order-controls">
                        <div class="create-order-selection">
                            <button id="design-library" class="active-btn" onclick="showWidget(event, 1)">Design Library</button>
                            <button id="quick-add" onclick="showWidget(event, 2)">Quick Add</button>
                        </div>
                        <button class="close-modal" onclick="closeModal()">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <div class="create-order-forms">
                        <div class="design-library-wrapper" data-widgetno="1">
                            <div class="library-search-container">
                                <div><label for="design-search">Search by design name</label><input type="search" oninput="searchDesigns('designName', event.target.value)" placeholder="" name="design-search" id="design-search" /></div>
                                <div><label for="sku-search">Search by SKU</label><input type="search" oninput="searchDesigns('designSKU', event.target.value)" placeholder="" name="sku-search" id="sku-search" /></div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>SKU</th>
                                        <th>Preview</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="library-data">
                                        
                                </tbody>
                            </table>
                        </div>
                        <div class="quick-add-wrapper" data-widgetno="2">
                            <div><label for="sku-search-2">Quickly add order by entering your design SKU</label><input oninput="searchSKU(event.target.value)" type="search" name="sku-search" id="sku-search-2" placeholder="Enter SKU..." /></div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>SKU</th>
                                        <th>Preview</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="quick-add-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            `);

            designLibraryData = document.getElementById("library-data");
            quickAddData = document.getElementById("quick-add-data");

            populateDesignWidget();
        }

        const closeModal = () => {
            document.querySelector(".create-order-modal-backdrop").remove();
        }
        
        const showWidget = (e, widgetNo) => {
            const widgetElements = document.querySelectorAll('[data-widgetno]');
            const selectionButtons = document.querySelectorAll('.create-order-selection button');
            selectionButtons.forEach(button => button.classList.remove('active-btn'));
            e.target.classList.add('active-btn');
            widgetElements.forEach(widgetElem => widgetElem.dataset.widgetno != widgetNo ? widgetElem.style.display = "none": widgetElem.style.display = "flex");
        }

        const addToOrder = (searchSKU) => {
            // check if already that design exists, if not, add.. disable button in fetchOrderData() after fetchDesignData() and add new key
            if (orderData.find(order => order.designSKU == searchSKU)) return notyf.error("Design already added to order");
            const designData = designDataResponse.designs.find(design => design.designSKU == searchSKU);
            orderData.push(designData);
            // probably a call to backend to store order data
            populateOrderTable();
            notyf.success("Design added to orders");
            console.log(designData, orderData);
        }

        const searchDesigns = (dataKey, searchKey) => {
            if (searchKey === '') return populateDesignWidget();
            const designsData = designDataResponse.designs.filter(design => design[dataKey].toLowerCase().trim().includes(searchKey.toLowerCase().trim()));
            if (designsData.length < 1) return designLibraryData.innerHTML = 'Invalid search key';
            populateDesignWidget({designs: designsData})
        }

        const searchSKU = (searchSKU) => {
            if (searchSKU === '') return quickAddData.innerHTML = '';
            const designItem = designDataResponse.designs.find(design => design.designSKU == searchSKU || design.designSKU.split("-")[2] === searchSKU);
            console.log(searchSKU, designItem)
            if (!designItem) return quickAddData.innerHTML = 'Invalid SKU';
            quickAddData.innerHTML = `
            <tr>
                <td>${designItem.designName}</td>
                <td>${designItem.designSKU}</td>
                <td><img class="design-preview-image" src="${designItem.designImage.front}"></td>
                <td><button onclick="addToOrder('${designItem.designSKU}')">Add to order</button></td>
            </tr>
            `;
        }

        fetchDesigndata();
    </script>
</body>

</html>