<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/placeorder.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <title>Stock Inventory</title>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>
    <div class="order-wrapper">

        <div class="progressbar">
            <h2>CREATE ORDER</h2>
        </div>
        <div class="steps" data-aos="fade-up">
            <div class="stp">
                <i class="fa-solid fa-briefcase"></i>
                <p>Products</p>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="stp">
                <i class="fa-solid fa-truck"></i>
                <p>Shipping</p>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="stp">
                <i class="fa-solid fa-circle-check"></i>
                <p>Review</p>
            </div>
        </div>
        <div class="creater-order-container" data-aos="fade-up">
            <p>Add a product to start creating your order</p>
            <!-- Button trigger modal -->
            <button type="button" id="toggle-modal">
                Choose design
            </button>
        </div>
        <!-- put anythign here, but not after backdrop-->
        <div class="create-order-modal-backdrop">
            <div class="create-order-modal" data-aos="fade-up">
                <div class="create-order-controls">
                    <div class="create-order-selection">
                        <button id="design-library" onclick="showWidget(1)">Design Library</button>
                        <button id="quick-add" onclick="showWidget(2)">Quick Add</button>
                    </div>
                    <button class="close-modal" onclick="closeModal()">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="create-order-forms">
                    <div class="design-library-wrapper" data-widgetno="1">
                        Design Library Wrapper
                    </div>
                    <div class="quick-add-wrapper" data-widgetno="2">
                        Quick Add Wrapper
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        var notyf = new Notyf();

        const fetchDesigndata = async () => {
            try {
                const designDataRequest = await fetch("/getdesigns");
                designDataResponse = await designDataRequest.json();
                if (!designDataRequest.ok) {
                    return notyf.error("Error loading data. Please refresh or check connection");
                }
            } catch (error) {
                console.log(error);
                notyf.error("Error")
            }
        }

        const closeModal = () => {
            document.querySelector(".create-order-modal-backdrop").remove();
        }
        
        const showWidget = (widgetNo) => {
            const widgetElements = document.querySelectorAll('[data-widgetno]');
            widgetElements.forEach(widgetElem => widgetElem.dataset.widgetno != widgetNo ? widgetElem.style.display = "none": widgetElem.style.display = "flex");
        }
    </script>
</body>

</html>