<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
 
</head>
<body>  
    <h1>Products</h1>

    <!-- <button href="/cart"> cart </button> -->
    <a  href="/cart" role="button" >cart</a>

      <% for(let p of x){%> 
      <% console.log(p)%> 

    <div>
      <!-- <form action="/cart/" method="post" > -->
      <h2 name="name" value="title"><%= p.name %></h2>
      <p name="price" value="9.99">$ <%= p.price %></p>
      <img src="https://via.placeholder.com/300x200.png?text=Product+1" alt="Product 1">
        <input type="hidden" name="products" value="hi">
        <a  href="/cart/<%=p._id%>" role="button" >Add to Cart</a>
      <!-- </form> -->
    </div>
      <%}%>

  


</body>
</html>