<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="/css/stock.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Stock Inventory</title>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>
    <div class="stock">
        <h1>Stock inventory coming soon.. </h1>
    </div>

    <!-- <div class="product-modal-wrapper">
        <div class="product-modal">
            <button class="modal-close">
                <i class="fa fa-close"></i>
            </button>
            <div class="product-modal-image">
                <img src="https://firebasestorage.googleapis.com/v0/b/printwear-design.appspot.com/o/products%2Ftshirtmale.png?alt=media&token=c8b089e4-5e4d-43a8-9912-db50c7b34dd2"
                    alt="">
            </div>
            <div class="product-modal-details">
                <h2 class="product-name">Test T Shirt</h2>
                <div class="product-category-gender">
                    <h5>Category</h5>
                    <h5>Gender</h5>
                </div>
                <p class="product-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dignissimos?
                </p>
                <div class="product-colors">
                    <p>Colors: </p>
                    <div class="color-disc"></div>
                    <div class="color-disc"></div>
                    <div class="color-disc"></div>
                </div>
                <div class="product-sizes">
                    <p>Sizes: </p>
                    <h4>S</h4>
                    <h4>M</h4>
                    <h4>L</h4>
                </div>
                <div class="product-price-button">
                    <h4>Starts from ₹340</h4>
                    <button>Design now</button>
                </div>
            </div>
        </div>
    </div> -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>