@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

@font-face {
  font-family: myFont;
  src: url('BaseNeueTrial-SemiBoldOblique.ttf');
}

* {
  font-family: myFont;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  text-decoration: none;
}

.invoice {
  display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 300px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: scroll;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* tbody td:nth-child(4) {
    min-width: 200px;
} */

thead th[data-stream]{
    cursor: pointer;
}

table a {
    color: rgb(66, 66, 204) !important;
}

table a:hover {
    text-decoration: underline;
}

table a:visited {
    color: initial;
}

#printwear-invoice {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-options label {
    font-size: 0.8rem;
}

#search-invoices, .refund-input {
    width: 70%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    background: #f2f2f2;
    outline: 1px solid silver;
    height: 2.25rem;
}

.refund-input {
    width: 100%;
    background-color: #eee;
}

.refund-input::placeholder {
    font-size: 0.8rem;
}

select.refund-input {
    padding: 0.1rem;
}

.status-badge {
    display: inline;
    padding: 0.2rem 0.3rem;
    font-size: 0.65rem;
    border-radius: 6px;
    width: min-content;
}

.success {
    background-color: hsl(108, 48%, 94%);
    color: hsl(136, 100%, 28%);
}

.failed {
    background-color: hsl(0, 100%, 97%);
    color: hsl(0, 100%, 57%)
}

.pending {
    background-color: #f8dda7;
    color: #b17a0c;
}