<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>PrintWear</title>
    <style>
        .policy {
            padding: 20px;
            max-width: 1280px;
            margin: 0 auto;
        }
    
        main {
            margin-top: 7rem;
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H19W9PLCHF">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H19W9PLCHF');
    </script>
</head>

<body>
    <!-- Navbar starts here -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a href="/#home"><img src="images/Logo.png" id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="left">
                    <div class="nav-left">
                        <li class="nav-item active">
                            <a class="nav-link fw-bold" href="/login">Products <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hvr">
                            <a class="nav-link fw-bold" href="/#what-we-do">What We Do
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="/#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#contact">Contact</a>
                        </li>
                    </div>
                </div>
                <div class="right">
                    <div class="nav-right">
                        <li class="nav-link-bt" id="nav-signup">
                            <a href="/login"><button class="signup-bt">Log / Sign-in</button></a>
                        </li>
    
                    </div>
                </div>
            </ul>
        </div>
    </nav>

    <main>
        <section class="policy">
            <h2>ABOUT US</h2>
            <p>The revolutionary digital store when it comes to drop Shipping & print on demand in India!
            <br />
            <p>Welcome to Printwear <strong>(SASA PRINTWEAR PRIVATE LIMITED)</strong>, your trusted partner in custom apparel manufacturing, drop shipping, and print-on-demand services.
            With our rapid 24-48 hour dispatch time, we ensure your orders are processed and shipped swiftly, helping you keep up
            with market demands and customer expectations.</p>
            
            <p>At Printwear, we pride ourselves on supporting 6,800 fashion brands across India, providing high-quality, customized
            clothing solutions tailored to your needs. Our state-of-the-art production facilities and efficient logistics network
            guarantee that you receive top-notch products, whether you require a single piece or bulk orders.</p>
            
            <p>Experience seamless drop shipping and print-on-demand services with Printwear. Let us help you elevate your brand with
            our reliable and fast delivery, ensuring your customers get the best, on time, every time.</p>
        </section>
        <section class="policy">
            <h2>QUALITY IN SERVICE IS OUR MOTTO</h2>
            <p>We offer the best quality at the most economical cost and that is why we have earned such a reputation as to be the best
            at what we do in this industry. For example, Couple T-shirts in India and all over the world are such a craze and it is
            Printwear <strong>(SASA PRINTWEAR PRIVATE LIMITED)</strong> which is the one-stop store for each, and every such need in the clothes oriented industry. Even when the team
            is doing the design work for the customers, the latter can get to know the progress regarding the work and make any
            changes should the need occur. The machines which we use in the printing work are of top quality and of cutting edge
            technology.
            <br />
            We are the experts when it comes to ultra-cool T-shirts!
            <br />
            Having earned the reputation as the best company when it comes to drop shipping in India & print on demand in India,
            Printwear <strong>(SASA PRINTWEAR PRIVATE LIMITED)</strong> has several decades of experience in realizing your dream of wearing a nice T-shirt or other types of clothes.
            What's more? We get your dreams realized and shipped within 48 hours which has been a proven track record. What are you
            waiting for? Get the image of your favorite logo and build your brand.
            <br />
            Due to the passion and hard work that we put in our services, we have earned well quite a huge reputation as our 100%
            satisfied clients refer other people to approach us despite stiff competition from other contenders. We work fervently
            and tirelessly to provide even more exceptional and quality focused services to satisfy your needs completely.</p>
        </section>
        <section class="policy">
            <h2>MANUFACTURING FACILITY</h2>
            <p>Our world class manufacturing facility has an in house production capacity of 3000-5000 t shirts a day, t shirt
            manufacturing in India, we have an end to end set up to complete a process of t shirts, our team comprises of expertise
            that has more than 40yrs experience in manufacturing of t shirt & other knitted garments.</p>
        </section>
        <section class="policy">
            <h2>EVER THOUGHT OF HOW TO EARN MONEY FROM HOME?</h2>
            <p>With more time at hand now due to the COVID-19 outbreak and the emergence of a new normal, we’re all exploring ways to
            earn from home. While some have taken a setback on the professional front, others just want to make the most of the time
            available to them.
            <br />
            Starting an online store has been one of the most success-proven ways to remain productive, and at the same time, earn
            from home
            <br />
            We enable drop shipping in India, and equipping merchants to become more successful.
            <ul>
                <li>Access to more products</li>
                <li>Lesser supply chain delays</li>
                <li>Lesser logistics issues</li>
                <li>Faster order fulfillment</li>
            </ul>
            </p>
        </section>
    </main>

    <div class="footer" id="contact">
        <div class="footer-head">
            <h2 data-aos="fade-up">Printwear</h2>
        </div>
        <div class="footer-content">
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Company</h2>
                <a href="/contact-us">Contact us</a>
                <a href="/about-us">About us</a>
            </div>
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Policies</h2>
                <a href="/privacypolicy">Privacy policies</a>
                <a href="/termsandconditions">Terms & Conditions</a>
                <a href="/faql">FAQ's</a>
                <a href="/shipandrefund">Shipping, return & Refund</a>
            </div>
            <div class="footer-signup" data-aos="fade-up">
                <h2 data-aos="fade-up">Sign up our Newsletter</h2>
                <p data-aos="fade-up">Subcribe to email alerts. We promise not to spam your Inbox</p>
                <form class="search-wrapper cf" data-aos="fade-up">
                    <input type="text" id="footer-email" placeholder="Email address" required style="box-shadow: none">
                    <button type="submit" id="btn-s">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/vendor/aos.min.js"></script>
    <script src="/js/vendor/lax.min.js"></script>

    <!-- Main JavaScript -->
    <script src="/js/main.js"></script>
    <script>
        let nav = document.querySelector('nav');
        nav.classList.add('dark', 'shadow');
    </script>
</body>

</html>