<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/manageorder.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    />
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" /> -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <title>Admin - Printwear</title>
    <style>
      .order-table input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
      .paginate_button.previous::after {
        content: "‹";
      }
      .paginate_button.next::after {
        content: "›";
      }
      .dataTables_paginate {
        display: flex;
        justify-content: center;
      }
      .paginate_button.current,
      .paginate_button.disabled {
        display: none;
      }
      .dataTables_filter input {
        margin-bottom: 1rem; /* Adjust as needed */
      }

      .order-table {
        padding-right: 5%;
      }
      
      #order-table {
        margin-top: 1.2rem;
        width: 100%;
        margin-right: 30%;
        margin-bottom: 3rem; /* Adjust as needed */
      }

      .order-id {
        text-decoration: underline;
        cursor: pointer;
      }

      .dataTables_wrapper .dataTables_scrollHeadInner {
        overflow: hidden;
      }

      .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.1rem 0.7rem;
        border-radius: 6px;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button .current {
        background-color: #f05a30;
        color: white;
      }

      .dataTables_wrapper .dataTables_scrollHeadInner table {
        width: 100%;
        margin-top: 1rem;
      }

      .filter-options {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      .filter-options > * {
        margin-bottom: 1rem;
      }
      .selected {
        background-color: aliceblue !important;
      }
      .filter-options select {
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }
    </style>
  </head>

  <body>
    <div class="banner">
      <%- include('partials/admin-side.ejs') %> <%-
      include('partials/admin-nav.ejs') %>
    </div>
    <div class="manageorder">
      <div class="order-table">
        <h1>COD</h1>
        <table id="order-table" class="data-table">
          <thead>
            <th>S.No.</th>
            <th>Order Id</th>
            <th>Date</th>
            <th>COD</th>
            <th>Delivery Status</th>
            <th>Remittance</th>
            <th>Action</th>

            <!-- <th>Date</th>
            <th>Total</th>
            <th>Status</th> -->
          </thead>
          <tbody></tbody>
        </table>
        <span class="loader"></span>
      </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
      var notyf = new Notyf();
      let orderData = <%- JSON.stringify(data) %>;

      const disableButton = (state, text = 'Please wait...') => {
          const containers = document.querySelectorAll(".action-container");
          for (let container of containers) {
            if (state) {
              container.children[0].setAttribute("disabled", true);
              container.children[1].setAttribute("disabled", true);
              container.children[0].classList.add("disable-button")
              container.children[1].classList.add("disable-button")
              container.children[1].innerHTML = text
            } else {
              container.children[0].removeAttribute("disabled");
              container.children[1].removeAttribute("disabled");
              container.children[0].classList.remove("disable-button")
              container.children[1].classList.remove("disable-button")
              container.children[1].innerHTML = "Send"
            }
          }
        }

      async function remitCOD(e, orderId) {
          try {
            disableButton(true);
            const remittanceAmount = parseFloat(e.target.parentElement.children[0].value);
            const remitPaymentRequest = await fetch("/admin/cod/remit", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({ orderId, remittanceAmount })
            });
            const remitPaymentResponse = await remitPaymentRequest.json();
            console.log("🚀 ~ remitCOD ~ remitPaymentResponse:", remitPaymentResponse)
            if (!remitPaymentRequest.ok) {
              disableButton(false);
              return notyf.error(remitPaymentResponse.error);
            }
            disableButton(false);
            notyf.success(remitPaymentResponse.message);
            location.reload();
          } catch (error) {
            console.log("🚀 ~ remitCOD ~ error:", error)
            disableButton(false);
            notyf.error("Something went wrong!");
          }
        }

      $(document).ready(async function () {
        document.querySelector(".loader").remove();
        
        function formatDate(date) {
          const months = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ];
          const dat = new Date(date);
          return `<i class="fa fa-calendar" style="color: red; font-size: 13px"></i> ${dat.getDate()} ${months[dat.getMonth()]}, ${dat.getFullYear()} <br /> <i class="fa fa-clock" style="color: red; font-size: 13px"></i> ${dat.toLocaleTimeString("en-IN", { timeZone: "Asia/Kolkata" })}`;
        }

        orderData.forEach(function (order, index) {
          $("#order-table tbody").append(`
            <tr>
                <td>${index + 1}
                <td><a href="/admin/orders/${order.printwearOrderId}" class="clickable">${order.printwearOrderId}</a>(${order.customerOrderId})</td>
                <td>${formatDate(order.createdAt)}</td>
                <td>₹${order.retailPrice ?? order.amountPaid}</td>
                <td><h4 class="status-badge ${order.deliveryStatus}">${order.deliveryStatus}</h4></td>
                <td>${order.CODRemittance? order.CODRemittance == order.retailPrice ? `✅Remitted ₹${order.CODRemittance ?? 0}` : `⚠️Partially Remitted ₹${order.CODRemittance ?? 0}` : '🚫Not Remitted'}</td>
                <td> 
                  <div class="action-container pay-action">
                    <input type="number" step="0.01">
                    <button onclick="remitCOD(event, '${order.printwearOrderId}')" class="refund-btn cod-btn">Send</button>
                  </div>
                </td>
            </tr>
            `);
        });

        var table = $("#order-table").DataTable({
          ordering: false,
          paging: true,
          searching: true,
          language: {
            paginate: {
              next: "›",
              previous: "‹",
            },
          },
          dom: '<"top"pfl<"clear">>rt<"bottom"ip<"clear">>',
        });

      });
    </script>
  </body>
</html>
