<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="/css/contact.css">
    <title>Contact Us</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H19W9PLCHF">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H19W9PLCHF');
    </script>
</head>

<body>
    <div class="contactus">
        <div class="contactus-top">
            <h3>CONTACT US</h3>
            <div class="contactus-top-list">
                <div class="call" id="top-list">
                    <i class="fa-solid fa-phone fa-3x"></i>
                    <h2>Talk to Us</h2>
                    <p>Interested in our services or have a question for us? Pick up your phone and dial</p>
                    <p>+91 9025597987</p>
                    <p>Mon to Sat: 9.30 AM to 8 PM</p>
                </div>
                <div class="share" id="top-list">
                    <i class="fa-solid fa-share-nodes fa-3x"></i>
                    <h2>SOCIAL MEDIA</h2>
                    <div class="social-icons">
                        <i class="fa-brands fa-instagram fa-3x"></i>
                        <i class="fa-brands fa-facebook fa-3x"></i>
                        <i class="fa-brands fa-youtube fa-3x"></i>
                    </div>
                </div>
                <div class="address" id="top-list">
                    <i class="fa-solid fa-map-location-dot fa-3x"></i>
                    <h2>ADDRESS</h2>
                    <p>No 33, 1st floor, 3rd Street, Jai Nagar, Jai Garden, Tamil Nadu 600087.</p>
                </div>
            </div>
        </div>
        <div class="findus">
            <h2 class="fndus">FIND US HERE</h2>
            <div class="findus-list">
                <div class="mail">
                    <div class="mail-list">
                        <div class="in-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="in-content">
                            <h2>BULK ORDER & GENERAL ENQUIRY</h2>
                            <p>sai@printwear.in</p>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="in-icon">
                            <i class="fa-solid fa-parachute-box"></i>
                        </div>
                        <div class="in-content">
                            <h2>DROP SHIPPING</h2>
                            <p>dropship@printwear.in</p>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="in-icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <div class="in-content">
                            <h2>PRINT ON DEMAND</h2>
                            <p>santhosh@printwear.in</p>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="in-icon">
                            <i class="fa-solid fa-paint-roller"></i>
                        </div>
                        <div class="in-content">
                            <h2>DESIGN HELP</h2>
                            <p>designs@printwear.in</p>
                        </div>
                    </div>
                    <div class="mail-list">
                        <div class="in-icon">
                            <i class="fa-solid fa-wallet"></i>
                        </div>
                        <div class="in-content">
                            <h2>PAYMENT RELATED</h2>
                            <p>accounts@printwear.in</p>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9581828175656!2d80.16887401490634!3d13.038333790812075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52613525274125%3A0xfe71675e1a75366a!2sPrintwear%20pvt%20ltd!5e0!3m2!1sen!2sin!4v1679371776499!5m2!1sen!2sin" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>
            </div>
        </div>
        <div class="contact-end">
            <h3>For queries</h3>
            <p>Mail: sai@printwear.in</p>
            <p>Contact: +91 9025597987</p>
        </div>
    </div>
</body>

</html>