<!DOCTYPE html>
<html>

<head>
    <title> Login Form</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="hero">
        <div class="form-box" data-aos="fade-down">
            <div class="form-top">
                <button id="home"><a href="/"><i class="fa-solid fa-house"></i></a></button>
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
            </div>
            <form id="login" class="input-group" action="/login" method="post">
                <input type="email" name="email" class="input-field" placeholder="Email" required />
                <div style="position: relative;">
                    <input type="password" name="password" title="Password should have atleast 8 characters" class="input-field" id="pwd-field" placeholder="Enter Password" />
                    <i class="fa fa-eye-slash" style="position: absolute; right: 1rem; top: 50%; transform: translateX(50%) translateY(-50%);" onclick="togglePwdVisibility(event)"></i>
                </div>
                <span><a href="/resetpassword">Forgot Password?</a></span>
                <button class="submit-btnx">Log In</button>
            </form>
            <form id="register" class="input-group" action="/register" method="post">
                <input type="text" name="name" class="input-field" placeholder="User Name" required>
                <input type="text" name="number" pattern="^[0-9]{10}" class="input-field" inputmode="numeric" placeholder="Phone Number" required>
                <input type="email" name="email" class="input-field" placeholder="Email ID" required>
                <input type="password" pattern=".{8,}" title="Password should have atleast 8 characters" name="password" class="input-field" placeholder="Enter Password" required>
                <input type="password" pattern=".{8,}" title="Password should have atleast 8 characters" name="register_repass" class="input-field" placeholder="Re-Enter password" required>
                <input type="checkbox" class="check-box" required><span>I agree to the terms and conditions</span>
                <button class="submit-btn">Register</button>
            </form>
        </div>
    </div>
    <% if (data.error) { %>
        <script>
            var notyf = new Notyf();
            notyf.error({ message: "<%= data.error %>", duration: 20000 });
            console.log(data.error);
            </script>
    <% } else { %>
        <script>
            var notyf = new Notyf();
            notyf.success("<%= data.status %>");
        </script>
    <% }  %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px"
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0"
        }

        function togglePwdVisibility(e) {
            const currentBtnClass = e.target.classList;
            console.log("🚀 ~ togglePwdVisibility ~ currentBtnClass:", currentBtnClass)
            if (currentBtnClass.contains("fa-eye-slash")) {
                e.target.classList.replace("fa-eye-slash", "fa-eye");
                document.querySelector("#pwd-field").setAttribute("type", "text")
                return;
            }
            e.target.classList.replace("fa-eye", "fa-eye-slash");
            document.querySelector("#pwd-field").setAttribute("type", "password")
        }
    </script>

</body>

</html>