<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>PrintWear</title>
    <style>
        .policy {
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
}
.headerrrr {
    padding-top: 5rem !important;
}
main {
    margin-top: 7rem;
}
    </style>
</head>

<body>
    <!-- Navbar starts here -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a href="/#home"><img src="images/Logo.png" id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="left">
                    <div class="nav-left">
                        <li class="nav-item active">
                            <a class="nav-link fw-bold" href="/login">Products <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hvr">
                            <a class="nav-link fw-bold" href="/#what-we-do">What We Do
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="/#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#contact">Contact</a>
                        </li>
                    </div>
                </div>
                <div class="right">
                    <div class="nav-right">
                        <li class="nav-link-bt" id="nav-signup">
                            <a href="/login"><button class="signup-bt">Log / Sign-in</button></a>
                        </li>
    
                    </div>
                </div>
            </ul>
        </div>
    </nav>

    <main class="policy headerrrr" >
        <h1>PRIVACY POLICY</h1>
        <section class="policy">
            <h2>INTRODUCTION</h2>
            <p>At Printwear.in, we respect the privacy of our visitors and customers (collectively referred to as “Users”).
            Printwear.in does collect and use information provided by Users to better serve Users and to make Printwear.in as user
            friendly and accessible as possible. This Privacy Policy spells out the information Printwear.in collects, how such
            information is collected, how the information is used and whether such information is disclosed to third parties.
            Printwear.in reserves the right to make changes to any part of this Privacy Policy at its sole discretion, at any time
            and without prior notice. Continued use of Printwear.in will constitute acceptance of any changes. If this Privacy
            Policy is changed in any way, information concerning the changes will be available on this page. Printwear.in strongly
            recommends that Users periodically review this Privacy Policy for any changes.</p>
        </section>
        <section class="policy">
            <h2>CONSENT TO USE INFORMATION</h2>
            <p>By using the Printwear.in Website, each User consents to the collection and use of all information that the User
            provides to Printwear.in, all information that is provided to Printwear.in on behalf of that User, and all information
            that Printwear.in collects based on that User’s use of the site, including, without limitation, Personally Identifiable
            Information (defined below). If User does not agree to this Privacy Policy, and the terms contained herein, User is not
            authorized to use the Printwear.in site. Qikink may use the collected personal information like phone number, email
            address to send SMS, Email or a Phone call to send shipment details regarding your order or other details regarding your
            consented product or service. The continued use of the Printwear.in site after any changes or amendments to this Privacy
            Policy shall signify the User’s acceptance of and consent to the changed or amended Privacy Policy.</p>
        </section>

        <section class="policy">
            <h2>PRINTWEAR.IN’S PRIVACY PLEDGE:</h2>
            <p>Printwear.in is committed to protecting the privacy and personal information of Users at all times. Printwear.in
            recognizes that this information belongs to the User, and will treat such information accordingly. Printwear.in will not
            disclose any Personally Identifiable Information or confidential information of any User to any third parties, except as
            outlined in this Privacy Policy or as may be required by law.</p>
        </section>
        <section class="policy">
            <h2>PRINTWEAR.IN USE OF PERSONAL AND NON-PERSONAL INFORMATION</h2>
            <p>Printwear.in collects two kinds of information from on-line visitors, personal and non-personal information. Visitors to
            the Printwear.in Website are not required to register, or provide any Personally Identifiable Information to access the
            Printwear.in site or review the products and services offered. Printwear.in collects non-personal information to track
            the total number of guests visiting the Printwear.in site and to help Printwear.in improve the site and the services
            available on the site. Such non-personal information includes the browser type and operating system being used by
            visitors, areas of the sites visited, date and time of access, host or service provider information and identification
            of the referring site. This information is used exclusively for Printwear.in’s internal purposes and is not disclosed to
            any third parties. Personally Identifiable Information, which means any information that can be used to identify or
            locate a specific person, including, but not limited to e-mail addresses, names, street addresses, phone numbers, fax
            numbers, credit card numbers and social security numbers, is collected only when voluntarily offered and solely for
            purposes clearly identified on the Printwear.in site. Such Personally Identifiable Information is kept strictly
            confidential and will only be disclosed to third parties under the conditions described in Paragraph 5 of this Privacy
            Policy.</p>
        </section>
        <section class="policy">
            <h2>DISCLOSURE OF INFORMATION TO THIRD PARTIES</h2>
            <p>Printwear.in may disclose Personally Identifiable Information as is required by law or under the following
            circumstances:
            
            Disclosure to Successor. Printwear.in may disclose User’s Personally Identifiable Information to any
            successor-in-interest of Printwear.in, such as a company that acquires Printwear.in and its assets. Users will be
            notified by e-mail or notice on the Printwear.in Website of any change in ownership or control of Personally
            Identifiable Information.
            
            Disclosure to Third Party Service Providers and/or Online Partners. Printwear.in may contract with various third parties
            to help provide, maintain and improve the Printwear.in Website and services. For example, Printwear.in may use a third
            party contractor who processes payments, and may subcontract out production, fulfillment, analytics, reporting or other
            operations. Printwear.in may also contract with third parties to help manage, monitor and optimize the Printwear.in
            Website and services and to assist in measuring the effectiveness of advertising, communications and use of the
            Printwear.in Website. Printwear.in will use commercially reasonable efforts to prevent such third parties from
            disclosing Personally Identifiable Information, except for the purpose of providing the services in question. However,
            Printwear.in can not guarantee that such third parties will not disclose User information.
            
            Disclosure to Contest Partners. Printwear.in may conduct contests for the benefit of, on behalf of, or in coordination
            with one or more third parties. Printwear.in may share Personally Identifiable Information with said party or parties to
            the extent necessary to effectively run the Contest and award prizes. Other than for the conducting of contests,
            Printwear.in does not share, rent or trade Personally Identifiable Information with third parties for cross-promotional
            purposes.</p>
        </section>
        <section class="policy">
            <h2>USE OF “COOKIES”</h2>
            <p>Printwear.in may place an electronic “Cookie” in the browser files of a visitor’s computer. Cookies are pieces of
            information that a web site transfers to an individual computer drive for record-keeping purposes. Cookies themselves do
            not enable Printwear.in to access any personal information about visitors. Cookies only allow Printwear.in to analyze a
            visitor’s use of the Printwear.in site. This analysis helps Printwear.in better understand which areas of the
            Printwear.in site are more useful and popular so that improvements and updates can be made in the future. Printwear.in
            does not use Cookies to retrieve information from a visitor’s computer that was not originally sent in a Cookie.</p>
        </section>
        <section class="policy">
            <h2>INFORMATION CONFIDENTIALITY AND SECURITY:</h2>
            <p>Printwear.in is committed to preventing any unauthorized access to each User’s account. Printwear.in has taken
            reasonable steps to maintain procedures and technology designed to prevent such unauthorized access. However, the
            privacy and security of communication or data transmission over the internet cannot be guaranteed, because the internet
            is not a secure medium. Printwear.in has taken reasonable steps to protect against unauthorized access to User’s
            accounts and Personally Identifiable Information used to administer User’s accounts. However, Printwear.in does not
            assume any responsibility for any harm, loss, or damage the User may experience or incur by the sending of personal and
            confidential information over the internet by or to Printwear.in.</p>
        </section>
        <section class="policy">
            <h2>USER ID’S AND PASSWORDS</h2>
            <p>Each User is responsible for maintaining the confidentiality of his or her User ID and password, and is responsible for
            all activities that occur under his or her User account. Each User agrees to immediately notify Printwear.in of any
            unauthorized use of his or her User ID, password or account, or any other breach of security known to the User.
            Printwear.in will not be liable for any loss whatsoever arising from a User’s failure to comply with the security
            requirements and each User agrees to hold Printwear.in harmless from any and all losses that arise from any failure to
            comply.</p>
        </section>
        <section class="policy">
            <h2>NOTIFICATION OF SUSPECTED BREACH</h2>
            <p>If any User suspects that any person has had unauthorized access to a User’s account, or access to a User’s information,
            including Personally Identifiable Information, such User should promptly send notification to Printwear.in at
            https://Printwear.in/contactus/ so Printwear.in can take any appropriate action to protect the User and his or her
            information, including Personally Identifiable Information.</p>
        </section>
        <section class="policy">
            <h2>COMMUNICATIONS FROM PRINTWEAR.IN</h2>
            <p>Printwear.in may, from time to time, communicate with Users by e-mail to provide Users with information about
            Printwear.in services or special offers based on User’s preferences, interests, locations and/or past purchases. Users
            have the opportunity to opt out from such communications at any time. If Users receive such communications and wish to
            opt out, Users may do so by following the instructions included in each e-mail communication.</p>
        </section>
        <section class="policy">
            <h2>CHILDREN’S PRIVACY POLICY</h2>
            <p>The Printwear.in Website and services are intended for users ages 18 or older. Users under the age of 18 are only
            permitted to use the Printwear.in Website under the direct supervision of their parent or legal guardian. No one under
            the age of 13 is permitted to use the Printwear.in Website. Printwear.in does not knowingly collect or use Personally
            Identifiable Information from children under the age of 13. Printwear.in will delete any information in the Printwear.in
            database which Printwear.in knows originated from a child under the age of 13. Printwear.in will likewise delete any
            information in the Printwear.in database from a User between the ages of 13 and 17 at the request of the User or the
            User’s parent or legal guardian.</p>
        </section>
        <section class="policy">
            <h2>INFORMATION THAT IS PUBLICLY AVAILABLE</h2>
            <p>When you utilize certain services offered by Printwear.in, some information may be publicly available to other Users and
            visitors of the Printwear.in web site. This information may include you User Name, the date you opened your Printwear.in
            account, the date you last log into your account, your age (if you choose to make it public) and your country of
            residence. Although your Printwear.in User Name may be publicly available, your e-mail address is not publicly
            available. Any information contained in any videos you record or submit to Printwear.in will also be publicly available</p>
        </section>
    </main>

    <div class="footer" id="contact">
        <div class="footer-head">
            <h2 data-aos="fade-up">Printwear</h2>
        </div>
        <div class="footer-content">
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Company</h2>
                <a href="/contact-us">Contact us</a>
                <a href="/about-us">About us</a>
            </div>
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Policies</h2>
                <a href="/privacypolicy">Privacy policies</a>
                <a href="/termsandconditions">Terms & Conditions</a>
                <a href="/faql">FAQ's</a>
                <a href="/shipandrefund">Shipping, return & Refund</a>
            </div>
            <div class="footer-signup" data-aos="fade-up">
                <h2 data-aos="fade-up">Sign up our Newsletter</h2>
                <p data-aos="fade-up">Subcribe to email alerts. We promise not to spam your Inbox</p>
                <form class="search-wrapper cf" data-aos="fade-up">
                    <input type="text" id="footer-email" placeholder="Email address" required style="box-shadow: none">
                    <button type="submit" id="btn-s">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/vendor/aos.min.js"></script>
    <script src="/js/vendor/lax.min.js"></script>

    <!-- Main JavaScript -->
    <script src="/js/main.js"></script>
    <script>
        let nav = document.querySelector('nav');
        nav.classList.add('dark', 'shadow');
    </script>
</body>

</html>