<!DOCTYPE html>
<html>

<head>
    <title>Reset password</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H19W9PLCHF">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H19W9PLCHF');
    </script>
</head>

<body>
    <div class="hero">
        <div class="form-box" data-aos="fade-down">
            <form id="login" class="input-group" action="/resetpassword" method="post">
                <h3 style="color: white;">Please reset password to continue</h3>
                <input type="email" name="email" class="input-field" placeholder="Email" />
                <div style="position: relative;">
                    <input type="password" name="pwd" title="Password should have atleast 8 characters and 1 digit"
                        class="input-field" id="pwd-field" pattern=".{8,}" placeholder="Enter Password" />
                    <i class="fa fa-eye-slash"
                    style="position: absolute; color: white; right: 1rem; top: 50%; transform: translateX(50%) translateY(-50%);"
                    onclick="togglePwdVisibility(event)"></i>
                </div>
                <input type="password" name="newPwd" title="Password should have atleast 8 characters and 1 digit"
                    class="input-field" id="pwd-field-2" pattern=".{8,}" placeholder="Confirm Password" />
                <button class="submit-btnx">Reset</button>
                <!-- <span class="frgt"><a href="/forget">Forgot Password?</a></span> -->
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        var notyf = new Notyf();
        <% if (data?.error) { %>
            console.log("<%= data.error %>");
            notyf.error("<%= data.error %>");
        <% } %>
        function togglePwdVisibility(e) {
            const currentBtnClass = e.target.classList;
            console.log("🚀 ~ togglePwdVisibility ~ currentBtnClass:", currentBtnClass)
            if (currentBtnClass.contains("fa-eye-slash")) {
                e.target.classList.replace("fa-eye-slash", "fa-eye");
                document.querySelector("#pwd-field").setAttribute("type", "text")
                return;
            }
            e.target.classList.replace("fa-eye", "fa-eye-slash");
            document.querySelector("#pwd-field").setAttribute("type", "password")
        }
    </script>

</body>

</html>