<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>PrintWear</title>
    <style>
        .policy {
            padding: 20px;
            max-width: 1280px;
            margin: 0 auto;
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H19W9PLCHF">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H19W9PLCHF');
    </script>
</head>

<body>
    <!-- Navbar starts here -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a href="/#home"><img src="images/Logo.png" id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="left">
                    <div class="nav-left">
                        <li class="nav-item active">
                            <a class="nav-link fw-bold" href="/login">Products <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hvr">
                            <a class="nav-link fw-bold" href="/#what-we-do">What We Do
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="/#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#contact">Contact</a>
                        </li>
                    </div>
                </div>
                <div class="right">
                    <div class="nav-right">
                        <li class="nav-link-bt" id="nav-signup">
                            <a href="/login"><button class="signup-bt">Log / Sign-in</button></a>
                        </li>
    
                    </div>
                </div>
            </ul>
        </div>
    </nav>

    <main style="margin-top: 5rem;" class="policy">
        <h1>SHIPPING, RETURN & REFUND</h1>
        <section class="policy">
            <h1>SHIPPING</h1>
            <p>All the products will be shipping within 48hrs to a maximum of within 4 days.
            
            Note- depending upon the stock availability at the time of ordereing.
            
            our in stock items are shipped within the time limit of 4days.
            
            Customers can return their order within 15 days after an order has been delivered.
            
            In the interests of hygiene, we may refuse returns where it's obvious that the item has been worn, washed or soiled.
            Defective products need not be sent back to us, unless confirmed by the Customer Experience Team. If you have received a
            defective product, send us images at and we will get back to you. Once confirmed by the Customer Experience Team the
            refund will be provided either into your bank account
            
            If you have to return anything from a combo pack, the whole pack will have to be returned. There will not be any partial
            returns accepted for this. If there is a manufacturing issue, or if you have any other query regarding this, you can
            contact us on the number or email us on accounts@printwear.in
            
            Gift cards/vouchers are non-refundable.
            
            Gift wrapping charges will not be refunded if goods are returned. Also, we will not be able to gift wrap any
            replacements you have asked for.
            
            To maintain strict hygiene standards of our products, we do not accept returns on several product categories, including
            but not limited to masks, boxers, shorts, sweat-activated t-shirts and socks. The Souled Store may, at its discretion
            and without prior notice, change the products or categories to which this policy would apply.
            </p>
        </section>
        <section class="policy">
            <h1>How does the process work?</h1>
            <p>You can only apply for a Return from your The printwear account. Login to your account and go the ‘My Orders’ section.
            Click on ‘View/Edit Order Details’ for the respective order.
            
            Self-Ship: Since we do not have a reverse pick up facility, we request you to self-ship the product to us
            
            What is the refund policy for returns of orders placed during a sale?
            
            IF AN ORDER PLACED DURING A SALE IS RETURNED TO US, ONLY THE AMOUNT PAID BY YOU WILL BE REFUNDED, NOT THE CURRENT
            PRODUCT PRICE.</p>
        </section>
        <section class="policy">
            <h1>How do I self-ship the products?</h1>
            <p>Please pack the items securely to prevent any loss or damage during transit. All items must be in unused condition with
            all original tags attached and packaging intact.
            <br />
            <br />
            You can courier the product(s) to the address mentioned below:
            <br />
            <br />
            SASA PRINTWEAR PVT LTD
            no 33 jai garden 3rd street
            valasaravakkam
            Chennai-600087
            <br />
            <br />
            On receiving the product at the warehouse
            <br />
            <br />
            PLEASE NOTE:. Please make sure your courier costs do not exceed the amount stipulated above. We recommend using ‘Speed
            Post’ as your courier service. Speed Post is a Government of India owned entity and has the most widely distributed
            postal network in India.</p>
        </section>
        <section class="policy">
            <h1>RETURN POLICY</h1>
            <p>Any claims for misprinted/damaged/defective items must be submitted within 7 days after the product has been received.
            For packages lost in transit, all claims must be submitted no later than 7 days after the estimated delivery date.
            Claims deemed an error on our part are covered at our expense.
            <br />
            <br />
            If you or your customers notice an issue on the products or anything else on the order, please submit a problem report.
            <br />
            <br />
            The return address is set by default to the Printwear facility. When we receive a returned shipment, an automated email
            notification will be sent to you. Unclaimed returns get donated to charity after 4 weeks. If Printwear's facility isn't
            used as the return address, you would become liable for any returned shipments you receive.
            <br />
            <br />
            Wrong Address - If you or your end customer provide an address that is considered insufficient by the courier, the
            shipment will be returned to our facility. You will be liable for reshipment costs once we have confirmed an updated
            address with you (if and as applicable).
            <br />
            <br />
            Unclaimed - Shipments that go unclaimed are returned to our facility and you will be liable for the cost of a reshipment
            to yourself or your end customer (if and as applicable).
            <br />
            <br />
            If you haven't registered an account on Printwear.in and added a billing method, you hereby agree that any returned
            orders due to the wrong shipping address or a failure to claim the shipment won’t be available for reshipping and will
            be donated to charity at your cost (without us issuing a refund).
            <br />
            <br />
            Printwear does not accept returns of sealed goods, such as but not limited to face masks, which are not suitable for
            return due to health or hygiene reasons. You hereby agree that any returned orders with face masks won’t be available
            for reshipping and will be disposed of.
            <br />
            <br />
            Returned by Customer - It is best to advise your end customers to contact you before returning any products. We do not
            refund orders for buyer’s remorse. Returns for
            <br />
            <br />
            1. The supply of goods that are made to the consumer's specifications or are clearly personalized;
            <br />
            2. Sealed goods which were unsealed after delivery and thus aren't suitable for return due to health protection or
            hygiene reasons,
            <br />
            <br />
            Therefore Printwear reserves rights to refuse returns at its sole discretion.
            <br />
            <br />
            This Policy shall be governed and interpreted in accordance with the English language, regardless of any translations
            made for any purpose whatsoever.</p>
        </section>
        <section class="policy">
            <h1>Refund POLICY.</h1>
            <p>All the accepted refunds will be processed back to PRINTWEAR WALLET, no refunds will be processed to direct bank
            accounts. it will take a minimum of 7-10 days to process the refund to your wallet after the acceptance.</p>
        </section>
    </main>

    <div class="footer" id="contact">
        <div class="footer-head">
            <h2 data-aos="fade-up">Printwear</h2>
        </div>
        <div class="footer-content">
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Company</h2>
                <a href="/contact-us">Contact us</a>
                <a href="/about-us">About us</a>
            </div>
            <div class="footer-div" data-aos="fade-up">
                <h2 id="f-head">Policies</h2>
                <a href="/privacypolicy">Privacy policies</a>
                <a href="/termsandconditions">Terms & Conditions</a>
                <a href="/faql">FAQ's</a>
                <a href="/shipandrefund">Shipping, return & Refund</a>
            </div>
            <div class="footer-signup" data-aos="fade-up">
                <h2 data-aos="fade-up">Sign up our Newsletter</h2>
                <p data-aos="fade-up">Subcribe to email alerts. We promise not to spam your Inbox</p>
                <form class="search-wrapper cf" data-aos="fade-up">
                    <input type="text" id="footer-email" placeholder="Email address" required style="box-shadow: none">
                    <button type="submit" id="btn-s">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/vendor/aos.min.js"></script>
    <script src="/js/vendor/lax.min.js"></script>

    <!-- Main JavaScript -->
    <script src="/js/main.js"></script>
    <script>
        let nav = document.querySelector('nav');
        nav.classList.add('dark', 'shadow');
    </script>
</body>

</html>