* {
	margin: 0;
	padding: 0;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite
  }
  .loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #FFF;
	animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
	100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
	  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
.design_api_container {
	display: grid !important;
	place-items: center;
	min-height: 100vh;
}

span.glyphicon {
	font-size: 3em;
}

.design_api {
	/* width:100%; */
	/* height:100%; */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHklEQVQYV2NkYGDwAWKCgJGgCogCn1GF+EKK+OABADvrAwPdMEGvAAAAAElFTkSuQmCC);
	/* padding:10px 0px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* border:1px solid #3c3c3c; */
}
.dwn{
	color: #fff;
}

.cnt {
	padding: 10px;
	padding-left: 60px;
	padding-top: 4rem;
	width: 100%;
	display: grid;
	place-items: center;
	transform: translateX(5%) translateY(5%);
}

.loader-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #acacacc4;
}

#menu,
#options,
#preview_t,
#view_mode,
#overview {
	float: left;
	/* border:1px solid #000; */
}

.bold_text {
	font-weight: bold;
}

.italic_text {
	font-style: italic;
}

.underline_text {
	text-decoration: underline;
}

.shadow {
	box-shadow: 0 0 10px inset #3c3c3c;
}

/*======================MENU=============================*/
#menu {
	width: 85px;
	height: 590px;
	background: #A78295;
}

.menu_option {
	width: 85px;
	height: 85px;
	border: 5px solid transparent;
	background: #A78295;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 17px !important;
	text-align: center;
}

.prv {
	background-color: #F05A30 !important;
	border: none;
}

.prv:active,
.close_img:active {
	outline: none !important;
}

.prv:focus {
	outline: none !important;
}

.menu_option:hover,
.close_img:focus {
	background: #F05A30;
}


.sel_type img {
	width: 42px;
	height: 42px;
}

.sel_type:hover {
	background: #F05A30;
}

.sel_color:hover {
	background: #F05A30;
}

.sel_art:hover {
	background: #F05A30;
}

.sel_custom_icon:hover {
	background: #F05A30;
}

.sel_text:hover {
	background: #F05A30;

}


/*======================subMENU 1=============================*/

/*======================subMENU 1 over=============================*/
/*======================MENU OVER=============================*/
/*======================OPTIONS=============================*/
#options {
	width: 220px;
	height: 590px;
	/* //padding:5px; */
	/* //border-right:1px solid #9c9c9c; */
	background: #cecece;
}

.T_type {
	width: 220px;
	height: 100%;
	background: #cecece;


}

.T_type div {
	width: 92px;
	height: 95px;
	float: left;
	cursor: pointer;
	margin: 8px;
}


.color_pick {
	width: 220px;
	height: 40px;
}

.color_radio_div {
	height: 40px;
	width: 40px;
	float: left;
	display: inline;
	margin: 8px;

}

#red {
	background: red;
	cursor: pointer;
}

#black {
	background: black;
	cursor: pointer;
}

#white {
	background: white;
	cursor: pointer;
}

#green {
	background: green;
	cursor: pointer;
}

#navy {
	background: navy;
	cursor: pointer;
}

.default_samples {
	width: 250px;
	display: flex;
	flex-wrap: wrap;
	/* background-color: rgba(140, 140, 140, 0.5); */
}

#des {
	width: 100%;
	object-fit: contain;
}

.sample_icons,
.dir_icons {
	width: 100px;
	height: 100px;
    cursor: pointer;
    display: flex;
    padding: 0.4rem;
}



.dir_icons {
	width: 100%;
	height: auto;
	box-shadow: 0 0 5px transparent;
	border-top: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
}

.dir_icons:hover {
	box-shadow: 0 0 5px #acacac;
}

div.upload {
	width: 178px;
	height: 30px;
	background: #9c9c9c;
	overflow: hidden;

}

div.upload input {
	display: block !important;
	width: 178px !important;
	height: 30px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	cursor: pointer;
}
.custom_icon{
	height: 590px;
}
.sel{
	background-color: #F05A30;
}
.upd{
	background-color: #F05A30;
	padding: 15px;
	width: 60%;
	color: #fff;
	display: block;
	margin: auto;
	margin-top: 50px;
}
.custom_font {
	background: #acacac;
	width: 220px;
}

.custom_font textarea {
	width: 220px;
	height: auto;
	min-height: 120px;
	max-height: 220px;
	resize: none;
}

.new_icon,
.new_text {
	cursor: move;
	position: absolute;

	border: 1px solid transparent;
	height: 60px;
	width: 100px;
	padding: 5px 5px 0 0;
}

.new_icon .property_icon,
.new_text .property_icon {
	display: none;
}

.new_icon:hover,
.new_text:hover,
.new_icon:active,
.new_text:active {
	border: 1px solid #777;
}

#fs {
	width: 100px;
}

.font_styling {
	width: 220px;
	height: 24px;
	background: grey;

}

.font_styling span {
	border: 1px solid #3c3c3c;
	height: 20px;
	width: 20px;
	margin: 2px;
	display: block;
	float: left;
	cursor: pointer;
	background: #e1e1e1;
	text-align: center;
}

.font_styling span:hover {
	background: #c1c1c1;
	box-shadow: 0 0 5px #acacac;
}

.Text_input {
	border: 1px solid #9c9c9c;
	height: auto;
	width: auto;
}

/*======================OPTIONS Ends=============================*/
/*======================PREVIEW=============================*/

#preview_t {
	width: 495px;
	height: 590px;
	padding:5px;
	padding-top: 30px;
	display: inline;
	overflow: hidden;
	border-bottom: 1px solid #acacac;
	border-top: 1px solid #acacac;
}

#preview_front,
#preview_back {
	height: 510px;
	width: 480px;
	background-repeat: no-repeat;
	background-size: 480px 510px;

	margin: 5px;
}

.dis_none {
	display: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.front_print,
.back_print {
	width: 470px;
	height: 500px;
	border:1px solid #acacac5b;
	position: absolute;
	padding: 5px;
}

.delete_icon,
.delete_text,
.drag_text {
	background: green;
	height: 20px;
	width: 20px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: -12px;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.delete_icon,
.delete_text {
	right: -12px;
	background-image: url('/images/mockup/del.jpg');
	background-size: 20px 20px;
}

.drag_text {
	background: blue;
	left: -12px;
}

.delete_icon:hover,
.delete_text:hover,
.drag_text:hover {
	box-shadow: 0 0 5px #4c4c4c;
	top: -10px;
	right: -10px;

}

.sel_custom_icon i {
	font-size: 40px;
}

.drag_text {
	background-image: url(/images/mockup/moveButton.png);
	background-size: 20px 20px;
}

#text_style {
	background: none;
	border: none;
	width: inherit;
	height: inherit;
	resize: none;
	overflow: hidden;
}

/*======================PREVIEW Ends=============================*/
/*======================VIEW MODE=============================*/
.mode {
	margin-bottom: 30px !important;
}

#view_mode {
	width: 80px;
	height: 590px;

	/* //border-left:1px solid #9c9c9c; */
	background: #A78295;
}

#view_mode div {
	width: 80px;
	height: 100px;
	padding: 10px;
	/* //border:1px solid #3c3c3c; */
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	display: block;
	margin: auto;
}

#view_mode div:hover {
	background: #F05A30;

}

#preview_images {
	padding-top: 5px;
	height: 60px;
	text-align: center;
}

/*======================VIEW MODE Ends=============================*/
/*======================Overview=============================*/

#overview {
	width: 180px;
	height: 590px;
	border-bottom: 1px solid #acacac;
	border-top: 1px solid #acacac;
	border-right: 1px solid #acacac;
	background: #D7D7D7;
	padding: 5px;
}

/*======================Overview Ends=============================*/

/*=======================detailing================================*/
/*
#image_reply{
	width:1000px;
	height:550px;
	margin:20px auto;
	padding:10px;
	background:white;
	border:1px solid #9c9c9c;
	border-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	box-shadow:0 0 20px #3c3c3c;
	//z-index:9908;
}*/
.layer {
	width: 100%;
	background-color: rgb(255, 255, 255);
	/* //opacity:0.5; */
	position: fixed;
	top: 50%;
	left: 55%;
	visibility: hidden;
	z-index: 999;
	transform: translateX(-50%) translateY(-50%);
	/* //background-color:rgba(140,0,0,0.5); */
	/* //z-index:999; */
}

.modal-content-preview {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.modal-footer-preview {
	display: flex;
	gap: 0.6rem;
	width: 70%;
	flex-direction: column;
}

.image_reply {
	display: flex;
}

.modal-content {
	display: flex;
	flex-direction: column;
}

.bottom_img {
	width: 1000px;
	height: 60px;
	margin: 0px auto;
	margin-top: -20px;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	border: 1px solid #9c9c9c;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 20px 20px #3c3c3c;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}