@font-face {
  font-family: myFont;
  src: url('BaseNeueTrial-SemiBoldOblique.ttf');
}

* {
  font-family: myFont;
  margin: 0;
  padding: 0;
  letter-spacing: 0.14rem;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}


.nadu {
  font-size: 12px;
  margin: 30px 0px 30px 300px;
}


i.fa {
  margin: 0px 10px 0px 10px;
}

.large {
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 900px;
  background-color: white;
  box-shadow: 0px 2px 5px #666666;
}

.large > div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status-wrapper{
  display: flex;
  padding: 1rem;
  margin: auto;
  gap: 2rem;
}

.status-left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.large p {
  font-size: 15px;
}

.large h3 {
  font-size: 20px;
}

.large h2 {
  font-size: 25px;
}

.mue a {
  font-size: 14px !important;
}

.chemical {
  margin-left: auto;
  margin-top: -20px;
  border: 2px solid red transparent;
}


.chemical a {
  cursor: pointer;
  border: 1px solid #ED2939;
  font-size: 15px !important;
  background: transparent;
  text-decoration: none;
  padding: 1rem 2rem;
}

.chemical a:hover {
  border: 1px solid #f44336;
  color: #fff;
  background: #f44336;
  transition: 0.3s;
}

.mue {
  text-decoration: underline;
  text-decoration-color: red;
  padding: 0px 30px 0px 0px;
}

.nin{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-wrapper{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  gap: 2rem;
  padding: 2rem;
}

.cod-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

div.keepin {
  margin-top: 10px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 10px 60px 60px 170px;
}

#column1,
#column2,
#column3 {
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  padding: 0.6rem;
  box-shadow: 0px 2px 10px #66666667;
}


.biggie {
  padding: 1rem;
}


p.niko {
  font-size: 1rem;
  position: relative;
  left: 10px;
}

p.jar {
  font-size: 1rem;
  position: relative;
  left: 10px;
}

p.niko:after {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 50px;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  padding: 1px;
  margin: 1px;
}

.putin {
  /* width:20vw; */
  min-width: 280px !important;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 5px #666666;
}

.putin1{
  display: flex;

}

.putin p {
  font-size: 15px;
}



.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
}

.banner {
  background-color: #fff;
}

@media(max-width : 860px) {
  .sidebar {
    height: auto;
    width: 50px;
    left: 0;
    top: -100px;
    margin: 100px 0;
  }

  header,
  #sidebar-btn,
  #cancel {
    display: none !important;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    width: max-content;
    visibility: hidden;
  }

  .sidebar a {
    height: 43px;
  }

  .sidebar a i {
    margin-left: -20px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.progressbar {
  display: flex;
  align-items: center;
}

.progressbar h2 {
  margin-top: 0px;
  font-weight: bold;
}