@font-face {
  font-family: myFont;
  src: url('BaseNeueTrial-SemiBoldOblique.ttf');
}

* {
  font-family: myFont;
  margin: 0;
  padding: 0;
  letter-spacing: 0.14rem;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.dark {
  background-color: rgba(0, 0, 0, .3);
}

.content hr {
  border: 1px solid #000 !important;
  text-align: right;
  margin-right: 0;
}


h4 {
  font-weight: 600;
  padding-bottom: 10px;
}

.cd {
  background-color: #F5F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  padding: 40px;
  height: 50vh;
  text-align: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.cd2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cd1 {
  background-color: #F5F1F1;
  display: inline-block;
  width: 300px;
  padding: 40px;
  height: 350px;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cd h5 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.cd1 h5 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.cd p {
  color: #9C8D8D;
  size: 50px;
  justify-content: center;
}

.cards {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding-left: 3%;
}

#btn {
  display: block;
  margin-top: -10px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  border-radius: 12px;
  background-color: #F05A30;
  border: none;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
}

#btn:active {
  transform: scale(0.92);
}

#btn:focus {
  outline: none;
}

#cd-img {
  height: 350px;
  width: 200px;
  margin-left: 10px;
}

.cd1:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  box-shadow: 0 1px 15px gray;
  cursor: pointer;
}

.cd:hover {
  cursor: pointer;
  box-shadow: 0 1px 15px gray;
}

#btn-choice {
  max-width: 180px !important;
}


@media(max-width : 860px) {
  .sidebar {
    height: auto;
    width: 50px;
    left: 0;
    top: -100px;
    margin: 100px 0;
  }

  header,
  #sidebar-btn,
  #cancel {
    display: none;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    width: max-content;
    visibility: hidden;
  }

  .sidebar a {
    height: 43px;
  }

  .sidebar a i {
    margin-left: -20px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

/* modal */
#bt {
  border: none;
}

#bt:focus {
  outline: none;
  border: none;
}

#bt1:focus {
  outline: none;
}

#bt1 {
  color: #000;
}

#srch {
  margin-top: -50px;
  margin-left: 10px;
  text-align: left;
}

.drops {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.dropright {
  width: 250px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.dropright button {
  background-color: #EEEEEE !important;
  color: #000 !important;
  border: none !important;
  outline: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 8px !important;
}

.dropright button:hover {
  background-color: #A981E3 !important;
  color: #fff !important;
}

.dropright button:focus {
  outline: none;
}

.dropright button:active {
  outline: none;
}

.dropright i {
  float: right;
  padding-top: 5px;
}

.modal-footer button {
  background-color: #A981E3 !important;
  color: #fff !important;
  border: none;
  letter-spacing: 0.1rem;
  border-radius: 8px !important;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px;
}

.modal-footer button:hover {
  background-color: #EEEEEE !important;
  color: #000 !important;
}

.modal-footer button:focus {
  outline: none;
}

.modal-footer button:active {
  outline: none;
}

.dropdown-item {
  background-color: #EEEEEE;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 5px;
  border-radius: 8px;
  max-width: 250px;
}

.dropdown-item:hover {
  background-color: #A981E3 !important;
  color: #fff !important;
}

.dropdown-menu {
  border: none;
  margin-top: -20px;
}

/* Responsive */
@media screen and (max-width:1155px) {
  .navbar-nav {
    display: none;
  }
}

@media screen and (max-width:992px) {
  .side-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
    /* border: solid; */
  }
}

@media screen and (max-width:992px) {
  .dropdown-item {
    width: 250px;
  }
}

@media screen and (max-width:650px) {
  #exampleModal {
    left: -10px;
  }
}

@media screen and (max-width:615px) {
  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 100px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
    font-size: 15px;
  }
}

@media screen and (max-width:576px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width:556px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width:512px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width: 480px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 80px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:400px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 60px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:380px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 40px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:360px) {
  #exampleModal {
    left: 5px !important;
  }
}

@media screen and (max-width:320px) {
  .sidebar {
    height: auto;
    width: 55px;
    left: 0;
    top: -100px;
    margin: 100px 0;
  }

  #logo {
    width: 150px;
  }

  .sidebar a {
    height: 43px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding-top: 6rem;
  padding-left: 300px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  margin-left: auto;
  position: relative !important;
}

#search {
  background: #F5F1F1;
  border: none;
  padding: 0.4rem 0.8rem;
  padding-left: 2rem;
  border-radius: 5px;
}

.search i {
  position: absolute;
  display: inline-block !important;
  width: 20px;
  z-index: 0;
  right: 0;
  top: 0.6rem;
  left: 0.4rem
}


.content-main {
  width: 100%;

}

.content-main {
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-main h1 {
  font-size: 40px;
}

.Title_1half {
  color: #F05A30;
}

.file-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F5F1F1;
  border-radius: 10px;
  padding: 3rem;
  cursor: pointer;
}

#file-input {
  display: none;
}

.user-designs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.design-image-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000004b;
}

.image-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 0.5rem 1rem;
  top: 1.7rem;
  right: 0.2rem;
}

.image-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
}


.image-settings-2 {
  right: 2.9rem;
}

.image-details>h5,
h6,
p {
  font-family: 'Arial', sans-serif;
  letter-spacing: normal;
  padding: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.design-image-meta {
  display: flex;
  justify-content: space-between;
}

.design-image {
  width: 100%;
  object-fit: contain;
}