@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

@font-face {
  font-family: myFont;
  src: url('BaseNeueTrial-SemiBoldOblique.ttf');
}

* {
  font-family: myFont;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.mockup-generator {
  display: flex;
  padding: 1rem;
  padding-left: 300px;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.mockup-generator > div {
  width: 50%;
  display: flex;
}

.left-container {
  padding: 2rem;
  width: 65% !important;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.mockup-image {
  width: 700px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.mockup-image img {
  width: 100%;
}

.mockup-image-container {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translateX(-50%) translateY(-50%); */
  background-color: red;
  width: 700px;
  display: flex;
}