@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

@font-face{
    font-family: myFont;
    src:url('BaseNeueTrial-SemiBoldOblique.ttf');
}
* {
    font-family: myFont;
    margin: 0;
    padding: 0;
    letter-spacing: 0.14rem;
    box-sizing: border-box;
}

body {
    padding-left: 300px;
    padding-top: 6rem;
}

.cart {
    display: flex;
    max-width: 1280px;
    padding: 2rem;
    background-color: #eee;
    border-radius: 10px;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}

.cart-item {
    border: 1px solid rgba(0, 0, 0, 0.341);
    border-radius: 4px;
    padding: 1rem;
}

.product-image {
    width: 30%;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    object-fit: contain;
}

#btn-chkout {
    padding: 0.5rem 1rem;
    border: none;
    background: #F05A30;
    color: white;
    border-radius: 4px;
}

#btn-yes {
    background-color: #F05A30;
    border: none;
}

#btn-yes a {
    color: white;
}

#deliver_address {
    display: flex;
}