@font-face {
  font-family: myFont;
  src: url('BaseNeueTrial-SemiBoldOblique.ttf');
}

* {
  font-family: myFont;
  margin: 0;
  padding: 0;
  letter-spacing: 0.14rem;
  box-sizing: border-box;
}

.btn-orange {
  background-color: #F05A30;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-orange {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

svg {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  /* the size of the image should be bigger */
}


image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .btn-orange:hover {
    background-color: #F05A30;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #ff6700;
} */
.btn-orange:focus {
  outline: none;
}

.btn-orange:active {
  outline: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #555;
  color: #fff;
  margin-left: -20px;
  z-index: 1;
}

.close-button:hover {
  background-color: #333 !important;
}

.close-button:focus {
  outline: none;
}

.close-button:active {
  outline: none;
}

.section-title {
  margin-top: 20px;
}

h3 {
  text-align: center;
}

img {
  width: 100%;
}

#pdt {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* navbar */


/* @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap'); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  /* font-family: 'Nunito'; */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  padding: 30px !important;
  padding-left: 40px !important;
}

.dark {
  background-color: rgba(0, 0, 0, .3);
}

.nav-link {
  color: #000 !important;
  font-size: 17px;
  font-weight: 700;
  margin-left: 60px;
  font-weight: bold;
  text-shadow: 1px 0 #000;
  letter-spacing: 0.1rem;
}

.nav-link:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out 0.1s;
}

.nav-link-bt {
  margin-top: 6px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler:active {
  transform: scale(0.92);
}

.content {
  height: 100vh;
  padding-top: 120px;
}

.content hr {
  border: 1px solid #000 !important;
  width: 93%;
  text-align: right;
  margin-right: 0;
}

.search {
  text-align: right;
  padding-right: 50px;
  padding-top: 20px;
  /* margin-top: -150px; */
}

#search {
  padding: 7px;
  border-radius: 10px;
  border: none;
  padding-left: -20px;
  width: 250px;
  background-color: #EEEEEE;
}

#search:focus {
  outline: none;
}

.search i {
  margin-left: -28px;
}

h4 {
  font-weight: 600;
  padding-bottom: 10px;
}

.side p:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out 0.1s;
}

.product-lib{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 6rem;
}

.cd {
  background-color: #F5F1F1;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 40px;
  height: 350px;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cd1 {
  background-color: #F5F1F1;
  display: inline-block;
  width: 300px;
  padding: 40px;
  height: 350px;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cd h5 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.cd1 h5 {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.cd p {
  color: #9C8D8D;
}

.card {
  /* justify-content: space-around; */
  /* background-color: #1e1e1e; */
  outline: none;
  border-radius: 40px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

#btn {
  display: block;
  margin-top: -10px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  border-radius: 12px;
  background-color: #F05A30;
  border: none;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
}

#btn:active {
  transform: scale(0.92);
}

#btn:focus {
  outline: none;
}

#cd-img {
  height: 350px;
  width: 200px;
  margin-left: 10px;
}

.cd1:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  box-shadow: 0 1px 15px gray;
  cursor: pointer;
}

.cd:hover {
  cursor: pointer;
  box-shadow: 0 1px 15px gray;
}

#btn-choice {
  max-width: 180px !important;
}


@media(max-width : 860px) {
  .sidebar {
    height: auto;
    width: 50px;
    left: 0;
    top: -100px;
    margin: 100px 0;
  }

  header,
  #sidebar-btn,
  #cancel {
    display: none;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    width: max-content;
    visibility: hidden;
  }

  .sidebar a {
    height: 43px;
  }

  .sidebar a i {
    margin-left: -20px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

/* modal */
#bt {
  border: none;
}

#bt:focus {
  outline: none;
  border: none;
}

#bt1:focus {
  outline: none;
}

#bt1 {
  color: #000;
}

#srch {
  margin-top: -50px;
  margin-left: 10px;
  text-align: left;
}

.drops {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.dropright {
  width: 250px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.dropright button {
  background-color: #EEEEEE !important;
  color: #000 !important;
  border: none !important;
  outline: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 8px !important;
}

.dropright button:hover {
  background-color: #A981E3 !important;
  color: #fff !important;
}

.dropright button:focus {
  outline: none;
}

.dropright button:active {
  outline: none;
}

.dropright i {
  float: right;
  padding-top: 5px;
}

.modal-footer button {
  background-color: #A981E3 !important;
  color: #fff !important;
  border: none;
  letter-spacing: 0.1rem;
  border-radius: 8px !important;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px;
}

.modal-footer button:hover {
  background-color: #EEEEEE !important;
  color: #000 !important;
}

.modal-footer button:focus {
  outline: none;
}

.modal-footer button:active {
  outline: none;
}

.dropdown-item {
  background-color: #EEEEEE;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 5px;
  border-radius: 8px;
  max-width: 250px;
}

.dropdown-item:hover {
  background-color: #A981E3 !important;
  color: #fff !important;
}

.dropdown-menu {
  border: none;
  margin-top: -20px;
}

/* Responsive */
@media screen and (max-width:1155px) {
  .navbar-nav {
    display: none;
  }
}

@media screen and (max-width:992px) {
  .side-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
    /* border: solid; */
  }
}

@media screen and (max-width:992px) {
  .dropdown-item {
    width: 250px;
  }
}

@media screen and (max-width:650px) {
  #exampleModal {
    left: -10px;
  }
}

@media screen and (max-width:615px) {
  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 100px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
    font-size: 15px;
  }
}

@media screen and (max-width:576px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width:556px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width:512px) {
  .side-right {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -50px;
  }

  .side {
    display: none;
  }

  .content {
    width: 100%;
  }

  .hrs {
    display: none;
  }

  #search {
    width: 200px;
  }

  .search {
    margin-right: -20px;
    margin-top: -150px;
  }

  .cd,
  .cd1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav {
    position: relative !important;
    height: 100px;
  }

  a:hover {
    width: 300px;
    background: inherit;
  }

  #exampleModal {
    height: 550px !important;
    width: 400px !important;
    top: 50px !important;
    left: 70px !important;
  }

  .dropdown-menu {
    top: 40px !important;
    left: 20px !important;
  }
}

@media screen and (max-width: 480px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 80px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:400px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 60px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:380px) {
  #exampleModal {
    height: 420px !important;
    width: 320px !important;
    top: 60px !important;
    left: 40px !important;
  }

  .dropdown-menu {
    top: 35px !important;
    left: 20px !important;
    width: max-content !important;
  }

  .dropdown-item {
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width:360px) {
  #exampleModal {
    left: 5px !important;
  }
}

@media screen and (max-width:320px) {
  .sidebar {
    height: auto;
    width: 55px;
    left: 0;
    top: -100px;
    margin: 100px 0;
  }

  #logo {
    width: 150px;
  }

  .sidebar a {
    height: 43px;
  }
}

/* make the container class to be center and not colliding with navbar  */
.container {
  margin-top: 100px;
  /* background-color: #7275be; */
}

.acti {
  cursor: pointer;
  background-color: #aaa;
  color: #333;
  border-radius: 5px;
  box-shadow: #c3bebe 0px 0px 15px;
}

.acti:hover {
  background-color: #888;
  color: #fff;
}