<style>
  @font-face {
    font-family: myFont;
    src: url('/css/BaseNeueTrial-SemiBoldOblique.ttf');
  }

  .sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    top: 4rem;
    background: white;
    z-index: 5;
    font-family: myFont, sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 2rem;
  }

  .sidebar a {
    color: #3f3f3f;
    line-height: 47px;
    padding: 0rem 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.19);
    border-left: 5px solid transparent;
    text-decoration: none;
  }

  .sidebar a:active,
  .sidebar a:hover,
  .sidebar a:focus {
    border-left: 5px solid #F05A30 !important;
    color: #F05A30 ;
  }

  .sidebar-active {
    background-color: #F05A30 !important;
    color: white !important
  }

  .sidebar-active:hover {
    color: white !important
  }

  .sidebar a i {
    font-size: 20px;
    margin-right: 16px;
  }

  .sidebar a span {
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
  }

</style>
<div class="side-menu">
  <div class="sidebar">
    <a href="/dashboard">
      <i class="fas fa-area-chart"></i>
      <span>Dashboard</span>
    </a>
    <a href="/productgallery">
      <i class="fas fa-shirt"></i>
      <span>Create new product</span>
    </a>
    <!-- <a href="/designgenerator">
      <i class="fa-regular fa-image"></i>
      <span>Design Generator</span>
    </a> -->
    <a href="/designlib">
      <i class="fa fa-palette"></i>
      <span>Your Products</span>
    </a>
    <a href="/mockupgenerator">
      <i class="fa-regular fa-object-group"></i>
      <span>Mockup Generator</span>
    </a>
    <a href="/placeorder">
      <i class="fa-regular fa-cart-plus"></i>
      <span>Add new order</span>
    </a>
    <a href="/manageorder">
      <i class="fa-solid fa-rectangle-list"></i>
      <span>Order Management</span>
    </a>
    <a href="/stock">
      <i class="fa-solid fa-chart-simple"></i>
      <span>Stock Inventory</span>
    </a>
    <a href="/connectstore">
      <i class="fa-solid fa-store"></i>
      <span>Connect your Store</span>
    </a>
    <a href="/invoice">
      <i class="fa-solid fa-briefcase"></i>
      <span>Invoicing</span>
    </a>
    <a href="https://printwear.in/public/merchant/uploads/list-of-servicable-pincode-printwear.xlsx" target="_blank" download>
      <i class="fa-solid fa-location-dot"></i>
      <span>Serviceable PIN codes</span>
    </a>
    <a href="/profile">
      <i class="fa-solid fa-gear"></i>
      <span>Profile</span>
    </a>
    <a href="/logout" class="logout-link">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
<script>
  const routeName = location.pathname;
  document.querySelector(`a[href='${routeName}']`).classList.add("sidebar-active")
</script>